@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.welcome-pin{
	width: 100%;
	margin: 10px 0;
}

.pincontainer{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: #141414;
	height: 450px;
	color: #fff;
}

.pincontainer-left{
	font-family: 'Roboto', sans-serif;
	width: 50%;
	float: left;
}

.pincontainer-right{
	font-family: 'Roboto', sans-serif;
	width: 50%;
	float: left;
}

.pincontainer h1, p, ul{
	font-family: 'Roboto', sans-serif;
	color: #ccc;
}

.pincontainer h1{
	font-size: 30px;
	font-weight: normal;
}

.pincontainer ul{
	list-style-type: disc;
}

.pincontainer a{
    color: #00b3d5;
    text-decoration: underline;
    font-style: italic;
}

.pincontainer-left table{
	float: right;
	margin: 50px 0;
}

.keypad-popup{
	width: auto !important;
	border: none !important;
	background: transparent !important;
	left: auto !important;
	top: 90px !important;
}

.keypad-key, .keypad-special{
    background: #000 !important;
    color: #fff !important;
    font-size: 45px !important;
    font-weight: normal !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 40px !important;
    border: 1px solid #333 !important;
	margin: 8px !important;
}

.keypad-special{
	display: none !important;
}

.keypad-close{
	display: none !important;
}

.keypad-space + .keypad-key{
	position: absolute;
	margin: 8px -56px !important;
}

.keypad-back{
	position: absolute;
	margin: 104px -280px !important;
}

.keypad-clear{
	position: absolute;
	margin: 200px -88px !important;
	font-size: 40px !important;
}

.keypad-trigger{
	display: none !important;
}

.pin-container{
	margin: 30px 50px;
}

.pin{
	background: url('inputpin.png') no-repeat;
	background-size: 320px auto;
	width: 320px;
	height: 40px !important;
	text-align: left;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 46px;
	border: none;
	padding-left: 14px;
	letter-spacing: 41px;
}
.pincontainer-bottom{
	width: 100%;
	padding: 20px;
}

.pincontainer-bottom .btn-login{
	font-size: 20px !important;
    color: green !important;
    border: 2px solid green !important;
    position: absolute;
    margin: -145px -149px !important;
    display: inline-block;
}

.pincontainer-bottom .btn-login-login{
	font-size: 20px !important;
    color: green !important;
    border: 2px solid green !important;
    position: absolute;
    margin: -145px 200px !important;
    display: inline-block;
}

.pincontainer-bottom .btn-logout{
	font-size: 20px !important;
    color: grey !important;
    border: 2px solid grey !important;
    position: absolute;
    margin: -145px 8px !important;
}

.keypad-row i {
  border: #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.btn-delete {
	position: absolute;
	margin: -30px 340px;
	width: 20px;
	height: 20px;
	border: none;
	background: #595959;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
}

.btn-delete:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #595959;
	border-width: 10px;
	margin-top: -10px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-header {
	width: 60%;
    margin: auto;
    background: #333;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
}

/* Modal Content css*/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 100%;
	overflow: hidden;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.modal-content p, .modal-content ul, .modal-content  li, .modal-content  span, .modal-content h1, .modal-content h2, .modal-content h3{
	color: #000;
	text-shadow: none !important;
}

/* The Close Button */
.close {
	color: #aaaaaa !important;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Franklin Gothic" !important;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}