<!-- 
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Client side connection configuration 
	For more details about the external configuration file check the 
	client API documentation.
	:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	
	www.smartfoxserver.com/docs/
	
-->
<SmartFoxClient>
	<ip>192.168.0.4</ip>
	<port>1500</port>
	<zone>cas_game</zone>
	<debug>true</debug>
</SmartFoxClient>