@charset "utf-8";
.nav-submenu a,
.sidebar-breadcrumb {
    border-top: solid 1px rgba(255, 255, 255, .05)
}

.page-update em,
.thumb-left em,
.thumb-right em {
    font-style: normal
}

#deploy-login,
.jackpot-global,
body {
    vertical-align: middle;
}

.button_bank,
.jackpot-text,
.pools,
.wide-item-titles h4 {
    text-transform: uppercase
}

.clears,
.form-group,
.ui-navbar ul:after,
hr {
    clear: both
}

.control-group,
.ui-btn {
    -webkit-user-select: none;
    cursor: pointer
}

#liscroll>li,
.nav,
.ui-navbar ul {
    list-style: none
}

@font-face {
    font-family: 'Aller Regular';
    src: url(../../fonts/Aller_Rg.ttf);
}


@font-face {
    font-family: 'Aller Regular', sans-serif
}

body {
    background-color: #fff;
    font-family: 'Aller Regular', Arial, sans-serif
}
ol{
    padding-left:20px;
}
ol > li{
    list-style: decimal;
}
.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9999
}

.all-elements {
    overflow-x: hidden;
    background:#e6fdff;
    position: static;
}

.wrapper {
    padding: 0 0 10px
}

.page-content {
    background-color: #e6fdff;
    z-index: 10;

    display: block;
}

.documentation-side-bar,
.page-sidebar {
    z-index: 4;
    left: 0;
    display: block;
    /*bottom: 0;*/
	height:100%;
    overflow: hidden;
    position: fixed;
    width: 272px
}

.page-sidebar {
    background: #292116;
    /*top: 0*/
}

.documentation-side-bar {
    top: 40px
}

.page-sidebar-right {
    background-color: #111;
    width: 272px;
    display: block;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed
}

.page-sidebar-scroll,
.page-sidebar-scroll-right {
    z-index: 2;
    width: 272px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    background: #161616;
}



.page-sidebar-scroll .row{
    padding: 15px;
}
.page-sidebar-scroll .col-lg-6:first-child{
    padding-right:5px;
}
.page-sidebar-scroll .col-lg-6:last-child{
    padding-left:5px;
}


.copyright{
    position: relative;
    bottom:0;
    padding-left:10px;
    padding-bottom: 5px;
}
.copyright p{
    font-family: 'Aller Regular';
    font-size:10px;
    color:#c2c2c2;
    border-bottom: 1px solid #2f2f2f;
}
.copyright a{
    font-family: 'Aller Regular';
    margin: 0px;
    color:#e0c16b;
    text-decoration: underline;
    font-weight: normal;
}

/*SIDE BAR*/

.main {
    background-color: #fff
}

.slider-container {
    z-index: 9;
    margin-top: -50px;
    background: -moz-linear-gradient(left, #0f103c 0, #1777b9 100%);
    background: -webkit-linear-gradient(left, #0f103c 0, #1777b9 100%);
    background: linear-gradient(to right, #0f103c 0, #1777b9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f103c', endColorstr='#1777b9', GradientType=1)
}

.content-controls {
    z-index: 15;
    height: 50px
}

.sidebar-shortcuts {
    background-color: #1d1d1d;
    height: 44px;
    border-bottom: solid 1px #2a2a2a
}

.shortcut-call,
.shortcut-facebook,
.shortcut-search,
.shortcut-twitter {
    width: 58px;
    height: 50px;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    border-right: solid 1px rgba(0, 0, 0, .2);
    position: absolute;
    background-repeat: no-repeat
}

.sidebar-shortcuts a {
    color: #07757c;
    background-color: rgba(40, 40, 40, .9)
}

.sidebar-shortcuts a:hover {
    color: #fff;
    background-color: rgba(40, 40, 40, .2)
}



.sidebar-breadcrumb {
    background-color: #fff;
    color: #9a9a9a;
    font-size: 11px;
    padding: 5px 15px
}

.nav-item,
.nav-items {
    font-size: 14px;
    font-family: 'Aller Regular', Arial, sans-serif;
    font-weight: normal;
}
.active .nav-item {
     background: #00243e;
}

.sidebar-decoration {
    height: 1px;
    background-color: #2eb9ca;
    border-bottom: solid 1px #2eb9ca;
}

.nav-item,
.nav-submenu {
    height: 42px;
    padding-top: 3px;
 
}
.nav-item i{
    color:#2eb9ca;
    margin-right:5px;
    width:20px;
}

.nav-submenu a:first-child {
    margin-top: -1px
}

.nav-submenu a:last-child {
    border-bottom: solid 0 #000!important
}

.nav-submenu a {
    border-bottom: solid 1px #000;
    padding-left: 60px;
    margin-bottom: 9px;
    color: #000
}

.navigation-item .sidebar-decoration {
    display: none
}

.active-submenu {
    display: block
}



.nav-item:hover {
    background-color: #045b99;
}



.nav-submenu a:hover {
    background-color: #045b99;
}

.selected-item {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: #2eb9ca;
    right: 18px;
    margin-top: 15px
}

.unselected-item {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background-color: #101010;
    right: 19px;
    margin-top: 14px
}

#deploy-login,
.deploy-reg {
    min-width: 70px;
    border-radius: 2px;
    text-align: center
}

.dropdown-item,
.link-item,
.submenu-deploy em {
    background-size: 14px 13px;
    height: 14px;
    margin-top: 23px;
    position: absolute;
    right: 45px;
    width: 14px
}

.dropdown-item {
    background-image: url(../../img/ui/nav-dropdown.png)!important
}

.submenu-deploy em {
    background-image: url(../../img/ui/nav-dropup.png)
}

.link-item {
    background-image: url(../../img/ui/nav-link.png)
}

.nav-item {
    color: #fff;
    background: #1f2024;
    padding-left: 15px;
    line-height: 40px
}




#deploy-login,
#login_panel,
.deploy-reg {
    font-family: 'Aller Regular';
    font-weight: 700;
}

.info-update,
.notification-update,
.tick-update,
.warning-update {
    background-size: 42px 42px;
    background-position: 20px 0;
    height: 50px;
    padding-left: 80px;
    background-repeat: no-repeat
}

.page-update {
    margin-top: 15px;
    margin-bottom: 10px
}

.page-update strong {
    color: rgba(255, 255, 255, .6);
    display: block
}

.page-update em {
    color: rgba(255, 255, 255, .4);
    display: block;
    font-size: 10px
}



#deploy-login,
.deploy-login span,
.deploy-login-button,
.deploy-reg,
.deploy-reg span {
    display: inline-block
}

.app-container {
    height: 84px;
    z-index: 999999;
    display: none;
}

.page-header {
    background: #00243e;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 999999;
    display: inline;
}

.page-header-clear{
    height:50px;
}

.header-logo {
    width: 100px;
    height: auto;
    left: 55px;
    margin-top: -42px;
}


.deploy-sidebar {
    color: #00243e;
    width: 45px;
    z-index: 50;
    background-color: #2eb9ca;
    height:100%;
    padding:13px;
    font-size: 10px;
}
.page-header .col-lg-6, .page-header .col-lg-4{
    margin-top: -35px;
    right: 2px;
}
.page-header .col-lg-4{
    margin-top: -33px;
    right: 10px;
    height:40px;
    width:40%;
}
.page-header .col-lg-5{
    width: 48%;
    padding: 5px;
}
.page-header .btn{
    font-size:12px;
}


.forgot_pass,
.italic {
    font-style: italic
}


.control-group,
.control-group>a,
.ui-footer .ui-btn {
    vertical-align: middle
}

.footer {
    overflow-x: hidden;
    left: 0;
    bottom: -2px;
    width: 100%;
    position: fixed !important;
    z-index: 9999;
    padding-bottom: 1px;
    border-style: solid;
    border-color: #e6fdff;
    background: #2eb9ca;
}



.wide-active {
    margin-top: 20px;
    display: none
}

.wide-item-wrapper {
    background-color: #FFF;
    padding-bottom: 1px;
    margin-top: 3px
}

.wide-folio {
    margin-top: -17px;
    margin-bottom: 20px
}

.wide-item {
    margin-bottom: 3px
}

.wide-item .responsive-image {
    margin-bottom: 0
}

.wide-image {
    max-height: 100px;
    overflow: hidden
}

.wide-item-titles {
    position: relative;
    z-index: 99999;
    top: 30px;
    margin-bottom: -45px;
    pointer-events: none
}

.wide-item-titles h4,
.wide-item-titles p {
    color: #FFF;
    position: relative;
    z-index: 999999;
    text-align: center
}

.wide-item-titles h4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5px
}

.wide-item-titles p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, .5)
}

.wide-item-content {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px
}

.contact-call,
.contact-text {
    background-size: 18px 18px;
    display: block;
    color: #666;
    padding-left: 30px;
    background-repeat: no-repeat
}

@media (min-width:760px) {
    .wide-image {
        max-height: 150px
    }
    .wide-item-titles {
        top: 55px;
        margin-bottom: -45px
    }
}

.contact-call {
    padding-top: 5px;
    background-image: url(../../img/ui/contact_phone.png);
    background-position: 0 5px;
    height: 30px
}

.contact-text {
    background-image: url(../../img/ui/contact_message.png);
    background-position: 0 2px;
    height: 20px;
    margin-bottom: 2px
}

.contact-mail {
    color: #666;
    padding-left: 30px;
    background-image: url(../../img/ui/contact_mail.png);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px
}

.contact-facebook,
.contact-twitter {
    color: #666;
    padding-left: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px
}

.contact-facebook {
    background-image: url(../../img/ui/contact_facebook.png)
}

.contact-twitter {
    background-image: url(../../img/ui/contact_twitter.png)
}

.button-icons,
.form-group,
.page {
    margin-bottom: 10px
}

.web-title {
    padding-top: 5px;
    font-size: 60px;
    color: #741868
}

.page {
    font-size: 20px;
    font-weight: 800;
    color: #338aa6;
    letter-spacing: .5px
}

#liscroll>li>a>strong,
.bank-account,
.bank-offline,
.bank-online,
.button-extra-big2,
.formText,
.ft-link a,
.pool-result,
.title,
.user-login {
    font-weight: 700
}

.page-title {
    font-size: 50px;
    color: #fff;
    letter-spacing: 1px
}



.inner-wrap,
.panel,
.panel-gold,
.panel-grey {
    padding: 10px
}

.inner-wrap {
    font-family: 'Aller Regular';
    font-weight: 700;
     padding-bottom: 50px;
}

.bank-account .acc-name {
    padding-left: 10px
}

.bank-account .notice {
    font-size: 12px;
    color: #00ff4f
}

.bank-images {
    float: left;
    width: 100px
}

.bca {
    width: 63px;
    background: url(../../img/ui/icons.png) 0 -4px no-repeat
}

.mandiri {
    width: 69px;
    background: url(../../img/ui/icons.png) -79px -3px no-repeat
}

.bni {
    width: 64px;
    background: url(../../img/ui/icons.png) -263px -6px no-repeat
}

.bri {
    width: 95px;
    background: url(../../img/ui/icons.png) -157px -6px no-repeat
}

.left {
    float: left
}

.right {
    float: right
}

.member {
    display: inline-block
}

.user-login {
    font-size: 24px;
    color: #174271;
    margin-bottom: 5px
}

.user-balance {
    font-size: 17px;
    color: #878787
}

.user-balance>span {
    font-weight: 700
}

.space_5 {
    height: 5px
}

.space_10 {
    height: 10px
}

.center {
    text-align: center;
    margin-bottom: 10px
}

.no-margin-bottom {
    margin-bottom: 0
}

.inner-wrap {

    background: #fff;    
    color:#282828;
}

.deploy-control,
.float_button_download {
    font-family: 'Aller Regular'
}

.panel-grey {
    background: #717171
}

.panel-gold {
    background: #1e9fbe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.results {
    background: #c1fdff;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px
}

.bank>div,
.results>div {
    display: inline-block
}

.pool-name {
    color: #000;
    font-size: 18px;
    width: 35%
}

.pool-date {
    font-size: 14px;
    color: #7f7e7e;
    margin-left: 10%;
    padding-top: 2px;
    text-align: center
}

.pool-result {
    font-size: 18px;
    color: red;
    float: right
}

.bank-online {
    float: right;
    color: #66c93a;
    font-size: 20px
}

.bank-offline {
    float: right;
    color: #ab0909;
    font-size: 20px
}

.pools {
    font-size: 20px;
    max-width: 70%;
    padding: 15px
}

.ui-navbar,
.ui-navbar ul {
    max-width: 100%
}

.title {
    display: block;
    font-size: 25px;
    color: #1e9fbe;
    margin: 10px 0;
    text-align: center
}

.game-button {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border: none;
    background: 0 0;
    border-left: none;
    border-top: none;
    text-shadow: none
}

.game-button .game-list {
    padding: 2px;
    background-color: #1e9fbe;
    text-align: center;
    width: 33%
}

.game-button .game-list:active,
.game-button .game-list:hover {
    background-color: #29535d
}

.game-button .game-list a {
    color: #fff;
    display: block;
    padding: 10px 0
}

.control-group,
.control-group>a,
.table-image>img {
    display: inline-block
}

.bets {
    font-size: 15px;
    color: #f5ff53;
    margin-bottom: 5px
}

.border-none {
    border: none!important
}

.bankField {
    float: left;
    width: 47%;
    margin-right: 5px
}

.bankField.last {
    float: left;
    width: 50%;
    margin-right: 0
}

.button-fb {
    background-color: #3b579d
}

.button-fb:active {
    background-color: #4363b2
}

.button-tw {
    background-color: #28a9e2
}

.button-tw:active {
    background-color: #2db9f6
}

.deploy-toggle-1>i,
.deploy-toggle-2>i {
    padding-right: 10px
    color:#fff;
}

.mtb-2 {
    margin: 2px 0
}

.mtb-5 {
    margin: 5px 0
}

.mlr-5 {
    margin: 0 5px
}

.mt-2 {
    margin-top: 2px
}

.mb-5 {
    margin-bottom: 5px!important
}

.m-5 {
    margin: 5px
}

.p-10 {
    padding: 10px
}

.plr-5 {
    padding: 0 5px
}

.plr-10 {
    padding: 0 10px
}

.w-30 {
    width: 30%!important
}

.deploy-control {
    float: right;
    margin-top: -39px;
    margin-right: 3px;
    z-index: 50
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.nav-pills .nav-item,
.nav-tabs .nav-item {
    float: left
}

.control-group {
    text-align: center;
    white-space: nowrap
}

.join,
.login {
    padding: 3px 8px;
    line-height: 2
}

.join {
    background-color: #FFF500;
    color: #242424;
    border-radius: 2px 0 0 2px;
    margin-right: -2px
}

.login {
    background-color: #333;
    color: #fff;
    border-radius: 0 2px 2px 0
}

.ui-navbar ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    border: 0;
    overflow: visible;
    }

.horizontal-list-wrapper,
.ui-btn {
    overflow: hidden;
    white-space: nowrap
}

.ui-navbar ul:after,
.ui-navbar ul:before {
    content: "";
    display: table
}

.ui-grid-c>.ui-block-a,
.ui-grid-c>.ui-block-b,
.ui-grid-c>.ui-block-c,
.ui-grid-c>.ui-block-d,
.ui-grid-c>.ui-block-e {
    width: 25%
}

li.ui-block-a,
li.ui-block-b,
li.ui-block-c,
li.ui-block-d,
li.ui-block-e,
ul.ui-grid-a,
ul.ui-grid-b,
ul.ui-grid-c,
ul.ui-grid-d,
ul.ui-grid-solo {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none
}

.ui-block-a {
    clear: left
}

.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e {
    margin: 0;
    border: 0;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ui-footer .ui-navbar .ui-btn {
    border-top-width: 0;
    border-bottom-width: 0
}

.ui-navbar li .ui-btn {
    font-size: 10px;
    display: block;
    margin: 0;
    border-right-width: 0
    font-weight:bold;
}

.ui-footer-fixed .ui-btn {
    z-index: 10
}

.ui-footer .ui-btn-icon-top {
    padding-left: .3125em;
    padding-right: .3125em
}

.ui-btn {
    text-overflow: initial;
    font-family: 'Aller Regular', Arial, sans-serif;
    text-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    text-align: center;
    text-decoration: none!important;
    font-weight: lighter;
}

.ft-link a,
.ft-link a:hover,
.underline {
    text-decoration: underline
}

.ui-btn-icon-top {
    padding-top: 5px
}

.ui-btn,
label.ui-btn {
    border-width: 1px;
    border-style: solid
}

.ui-nodisc-icon .ui-btn:after,
.ui-nodisc-icon.ui-btn:after {
    background-color: transparent
}

.ui-btn-icon-top:after {
    top: .5625em
}

.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after,
.ui-btn-icon-top:after {
    left: 50%;
    margin-left: -11px
}

.ui-btn-icon-bottom:after,
.ui-btn-icon-left:after,
.ui-btn-icon-notext:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 1em
}

.ui-navbar a {
    color: #00243e;
    border-color: #e6fdff;
    border-top:none;
}

.ui-navbar a:hover {
    background: #e6fdff;
}

.horizontal-list-wrapper {
    padding:0px 5px 0px 5px;
    width: 100%;
    background-color: #e6fdff
}

.horizontal-list {
    padding: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;
}

.horizontal-list li {
   display: inline-block;
   width: 28%;
   min-height:80px;
   padding:0px 5px 0px 5px;
   border-radius: 5px;
   margin: -10px;
}

a._prev, a._next {
  position: absolute;
  top: 25%;
  z-index: 999;
  display: block;
  padding: 3% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
}

a._prev:hover, a._next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a._prev {
  border-radius: 0 2px 2px 0;
}

a._next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.horizontal-list li:hover, .horizontal-list li:focus{
   background: #35353f;
}
.horizontal-list li:last-child {
    margin-bottom: 5px
}
.horizontal-list h1{
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
    color: #000;
}
.horizontal-list img{
    margin-top:5px;
    width:100%;
    height: auto;
}

.index-list>li>a {
    background: none;
      font-family: 'Aller Regular';
    font-weight: 700;
    border-radius: 5px
}

.index-list>li>a:active,
.index-list>li>a:hover {
    opacity: .5
}

.index-list img {
    width: 80%
}

.download-apps img {
    width: 100%
}

.sidebar-breadcrumb a {
    display: inline-block!important
}

.sidebar-breadcrumb h1 {
    color: #000;
    text-align: center
}

.ft-img {
    padding: 10px 0
}

.ft-link a {
    color: #da9e19;
    font-size: 16px;
    padding-top: 10px
}

.ft-link a:hover {
    color: #edac1c
}

.center-text {
    text-align: center
}

.field-title {
    color: #1f2281;
    font-size: 13px
}

.field-title2 {
    color: #da9e19;
    font-size: 13px
}

.border-gold {
    border: 1px solid #c7181d
}

.button-small,
.download-button-small {
    color: #FFF;
    font-family: 'Aller Regular', Arial, sans-serif;
    height: 35px;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

.one-half>a>img:hover {
    background: #07757c
}

.button-small {
    padding: 5px 15px
}

.download-button-small {
    padding: 8px 15px 5px
}

.button-small a {
    margin-top: 5px
}

.dropdown-sign,
.dropup-sign {
    position: absolute;
    font-size: 14px;
    right: 15px;
    margin-top: 2px
}

.dropdown-sign:after {
    content: "\f067";
    font-family: FontAwesome
}

.dropup-sign:after {
    content: "\f068";
    font-family: FontAwesome
}

.deploy-toggle-1 em {
    font-style: normal;
    padding-left: 10px;
    color: #e5e365
}

.tab-cont {
    background: #1d1d1d
}

.depo-warn {
    width: 100%;
    color: #ffe016
}

.depo-warn>div {
    display: inline-block
}

.depo-warn .excla {
    padding-right: 10px
}

.depo-warn .warn {
    max-width: 85%
}

.formInput2>img {
    display: inline-block;
    height: 24px
}

.copied:after {
    position: absolute;
    top: 15%;
    left: 40%;
    display: block;
    content: "copied";
    font-size: 16px;
    padding: 5px 8px;
    color: #fff;
    background-color: #7b0100;
    border-radius: 3px;
    opacity: 0;
    will-change: opacity, transform;
    animation: showcopied 1.5s ease
}

.button_bank,
.float_button_daftar_2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}

@keyframes showcopied {
    0%,
    100% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
}

.button_bank {
    width: 140px;
    height: 30px;
    background: #DA9E19;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle
}

.deploy-download,
.deploy-download:hover {
    background-color: #9C0
}

.float_button_daftar,
.float_button_deposit,
.float_button_download {
    position: absolute;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px
}

.float_button_download {
    top: 10%;
    right: 1%;
    border-radius: 1px
}

.float_button_daftar,
.float_button_deposit {
    bottom: 1%;
    right: 15%;
    border-radius: 1px
}

.float_button_daftar_2,
.float_button_deposit_2 {
    position: absolute;
    bottom: 5%;
    font-family: 'Aller Regular';
    min-width: 70px;
    text-align: center
}

.float_button_download_2 {
    position: absolute;
    top: 60%;
    right: 16%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px
}

.float_button_daftar_2 {
    left: 40%;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.float_button_deposit_2 {
    left: 39%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.header_name {
    padding: 0;
    margin: 0
}

.deploy-download {
    color: #fff;
    padding: 3px 6px;
    line-height: 1;
    display: inline-block
}

.deploy-download span {
    display: inline-block;
    padding-top: 4px
}

.deploy-daftar,
.deploy-deposit {
    color: #fff;
      font-family: 'Aller Regular';
    font-weight: 700;
    padding: 4px 10px;
    display: inline-block;
    line-height: 1
}

.deploy-daftar {
    background-color: #a72e33
}

.deploy-daftar span {
    display: inline-block
}

.deploy-daftar:hover {
    background-color: #7B0100
}

.deploy-deposit {
    background-color: #a72e33
}

.deploy-deposit span {
    display: inline-block
}

.deploy-deposit:hover {
    background-color: #DA9E19
}

.toggle-design {
   background: #e6fdff;

}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block
}

.container-fluid::after,
.row::after {
    display: table;
    clear: both;
    content: ""
}


.alert {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    color: #000;
    border-radius:5px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6
}
.alert-warning{
    background: #d4d174;
    border: 1px solid #fff700;
    color:#704200;
}
.alert-warning p{
  
    color:#704200;
}
.alert-warning hr{
    background: #704200;
    border-width: 1px;
    border-color: #704200;

}
.alert-warning li{
       list-style: decimal;

}
p {
    color: #000
}

.table {
    border: none !important;
    color: #232323;
    width: 100%;

}

.table tbody>tr>td,
.table thead>tr>td,
.table thead>tr>th {
    color: #fff;
    border: none !important;
    text-align: center;
    font-family: 'Aller Regular';
    padding-left: 0;
    font-weight: normal;
}
.table tbody>tr>td{
    color:#000;
}
.table thead>tr{
    background: #33576e;
    border: none !important;
}

.table tbody > tr:nth-child(odd){
    background: #e6fdff;
    color:#000;
}
.table tbody > tr:nth-child(even){
    background: #2eb9ca;
    
}
.table tfoot{
    border:none !important;
}
.table tfoot>tr{
    background:  #eeeeee;
    border: none !important;
  
}
.table tfoot>td{
    text-align: left;
  
}

input[type=checkbox] {
    -webkit-appearance: checkbox!important;
    -moz-appearance: checkbox!important;
    -ms-appearance: checkbox!important;
    -o-appearance: checkbox!important;
    appearance: checkbox!important
}

.input-group-addon {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid #ccc;
    border-radius: .25rem
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.row {
   
    width: 100%!important;
    padding: 0
}

.center-block,
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.col-lg-1 {
    width: 8.333333%
}

.col-lg-2 {
    width: 16.666667%
}

.col-lg-3 {
    width: 25%
}

.col-lg-4 {
    width: 33.32%
}

.col-lg-5 {
    width: 41.666667%
}

.col-lg-6 {
    width: 49.98%
}

.col-lg-7 {
    width: 58.333333%
}

.col-lg-8 {
    width: 66.666667%
}

.col-lg-9 {
    width: 75%
}

.col-lg-10 {
    width: 83.333333%
}

.col-lg-11 {
    width: 91.666667%
}

.col-lg-12 {
    width: 100%
}

.container,
.container-mobile {
    width: 100%!important;
    margin-left: auto
}

.col-lg-pull-0 {
    right: auto
}

.col-lg-pull-1 {
    right: 8.333333%
}

.col-lg-pull-2 {
    right: 16.666667%
}

.col-lg-pull-3 {
    right: 25%
}

.col-lg-pull-4 {
    right: 33.333333%
}

.col-lg-pull-5 {
    right: 41.666667%
}

.col-lg-pull-6 {
    right: 50%
}

.col-lg-pull-7 {
    right: 58.333333%
}

.col-lg-pull-8 {
    right: 66.666667%
}

.col-lg-pull-9 {
    right: 75%
}

.col-lg-pull-10 {
    right: 83.333333%
}

.col-lg-pull-11 {
    right: 91.666667%
}

.col-lg-pull-12 {
    right: 100%
}

.col-lg-push-0 {
    left: auto
}

.col-lg-push-1 {
    left: 8.333333%
}

.col-lg-push-2 {
    left: 16.666667%
}

.col-lg-push-3 {
    left: 25%
}

.col-lg-push-4 {
    left: 33.333333%
}

.col-lg-push-5 {
    left: 41.666667%
}

.col-lg-push-6 {
    left: 50%
}

.col-lg-push-7 {
    left: 58.333333%
}

.col-lg-push-8 {
    left: 66.666667%
}

.col-lg-push-9 {
    left: 75%
}

.col-lg-push-10 {
    left: 83.333333%
}

.col-lg-push-11 {
    left: 91.666667%
}

.col-lg-push-12 {
    left: 100%
}

.col-lg-offset-0 {
    margin-left: 0
}

.col-lg-offset-1 {
    margin-left: 8.333333%
}

.col-lg-offset-2 {
    margin-left: 16.666667%
}

.col-lg-offset-3 {
    margin-left: 25%
}

.col-lg-offset-4 {
    margin-left: 33.333333%
}

.col-lg-offset-5 {
    margin-left: 41.666667%
}

.col-lg-offset-6 {
    margin-left: 50%
}

.col-lg-offset-7 {
    margin-left: 58.333333%
}

.col-lg-offset-8 {
    margin-left: 66.666667%
}

.col-lg-offset-9 {
    margin-left: 75%
}

.col-lg-offset-10 {
    margin-left: 83.333333%
}

.col-lg-offset-11 {
    margin-left: 91.666667%
}

.col-lg-offset-12 {
    margin-left: 100%
}

.container-fluid {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-left: auto
}

.nav-inline .nav-item,
.nav-link {
    display: inline-block
}

.nav {
    padding-left: 0;
    margin-bottom: 0
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #818a91
}

.nav-link.disabled,
.nav-link.disabled:focus,
.nav-link.disabled:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: transparent
}

.nav-inline .nav-item+.nav-item,
.nav-inline .nav-link+.nav-link {
    margin-left: 1rem
}

.nav-pills .nav-item+.nav-item,
.nav-tabs .nav-item+.nav-item {
    margin-left: .2rem
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs::after {
    display: table;
    clear: both;
    content: ""
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    display: block;
    padding: .5em 1em;
    border: 1px solid transparent;
    border-radius: .25rem .25rem 0 0
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #eceeef #eceeef #ddd
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:focus,
.nav-tabs .nav-link.disabled:hover {
    color: #818a91;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
    color: #55595c;
    background-color: #fff;
    border-color: #ddd #ddd transparent
}

.nav-pills::after {
    display: table;
    clear: both;
    content: ""
}

.nav-pills .nav-link {
    display: block;
    padding: .5em 1em;
    border-radius: .25rem
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    color: #fff;
    cursor: default;
    background-color: #0275d8
}

.nav-stacked .nav-item {
    display: block;
    float: none
}

.nav-stacked .nav-item+.nav-item {
    margin-top: .2rem;
    margin-left: 0
}

.tab-content>.tab-pane {
    display: none

}
.center-block,
.tab-content>.active {
    display: block
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}



.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-none {
    float: none !important;
}
.middle{
  top: 30%;
  width: 100%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}



/* BUTTONS */
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
    outline: none;
}
.btn{
    font-family: 'Aller Regular';
    height: 35px;
    color:#fff;
    border-radius: 3px;
    text-transform: uppercase;
    width: 100%;
    font-weight: lighter;
    text-shadow: none;
    font-size: 13px;

}
.btn-full{
    width: 100%;
}
.btn-blue{
    background: #0088cf;
}
.btn-blue:hover, .btn-blue:focus{
    background: #4179be;
    color:#000;
     border:none;
     outline: none;
}
.btn-gold{
    background: #e0c16b;
}
.btn-gold:hover, .btn-gold:focus{
    background: #4179be;
    color:#000;
     border:none;
     outline: none;
}
.btn-green {
    background: #4fa74f;
    border: 0;

}
.btn-green:hover, .btn-green:focus{
    background: #baf585;
    color:#000;
    border:none;
    outline: none;
}
.btn-orange {
    background: #b2572a;
    padding: 0;
    border: 0;
    color:#fff;

}
.btn-orange:hover, .btn-orange:focus{
    background: #d4632a;
    color:#000;
    border:none;
    outline: none;
}

.btn-red{
    background: #882828;
    padding: 0;
    border: 0;
    color:#fff;
}
.btn-red:hover, .btn-red:focus{
    background: #a83030;
    color:#000;
    border:none;
    outline: none;
}
.btn-gray{
    background: #747474;
    padding: 0;
    border: 0;
    color:#fff;
}
.btn-gray:hover, .btn-gray:focus{
    background: #bfbfbf;
    color:#000;
    border:none;
    outline: none;
}

.btn-medium{
    height:25px;
    font-size:14px;
    font-weight: normal;
}
.btn-mini{
    height:20px;
    font-size:14px;
    font-weight: normal;
}
/* BUTTONS */

/*PADING*/
.padding-0{
    padding:0px;
}
.padding-1{
    padding:1px;
}
.padding-2{
    padding: 2px;
}
.padding-3{
    padding:3px;
}
.padding-4{
    padding:4px;
}
.padding-5{
    padding: 25px;
}
.padding-6{
    padding:6px;
}
.padding-7{
    padding:7px;
}
.padding-8{
    padding:8px;
}
.padding-9{
    padding:9px;
}
.padding-10{
    padding:10px;
}
.padding-15{
    padding:15px;
}
/*PADDING ALL*/

.tpadding-0{
    padding-top:0px;
}
.tpadding-1{
    padding-top:1px;
}
.tpadding-2{
    padding-top: 2px;
}
.tpadding-3{
    padding-top:3px;
}
.tpadding-4{
    padding-top:4px;
}
.tpadding-5{
    padding-top: 5px;
}
.tpadding-6{
    padding-top:6px;
}
.tpadding-7{
    padding-top:7px;
}
.tpadding-8{
    padding-top:8px;
}
.tpadding-9{
    padding-top:9px;
}
.tpadding-10{
    padding-top:10px;
}
.tpadding-15{
    padding-top:15px;
}
.tpadding-50{
    padding-top:50px;
}
.tpadding-100{
    padding-top:100px;
}
/*PADDING-top*/

.bpadding-0{
    padding-bottom:0px;
}
.bpadding-1{
    padding-bottom:1px;
}
.bpadding-2{
    padding-bottom: 2px;
}
.bpadding-3{
    padding-bottom:3px;
}
.bpadding-4{
    padding-bottom:4px;
}
.bpadding-5{
    padding-bottom: 5px;
}
.bpadding-6{
    padding-bottom:6px;
}
.bpadding-7{
    padding-bottom:7px;
}
.bpadding-8{
    padding-bottom:8px;
}
.bpadding-9{
    padding-bottom:9px;
}
.bpadding-10{
    padding-bottom:10px;
}
/*PADDING LEFT*/
.lpadding-0{
    left-padding:0px;
}
.lpadding-1{
    padding-left:1px;
}
.lpadding-2{
    padding-left: 2px;
}
.lpadding-3{
    padding-left:3px;
}
.lpadding-4{
    padding-left:4px;
}
.lpadding-5{
    padding-left: 5px;
}
.lpadding-6{
    padding-left:6px;
}
.lpadding-7{
    padding-left:7px;
}
.lpadding-8{
    padding-left:8px;
}
.lpadding-9{
    padding-left:9px;
}
.lpadding-10{
    padding-left:10px;
}
.lpadding-15{
    padding-left:15px;
}
.lpadding-20{
    padding-left:20px;
}
/*PADDING-LEFT*/

.rpadding-0{
    padding-right:0px;
}
.rpadding-1{
    padding-right:1px;
}
.rpadding-2{
    padding-right: 2px;
}
.rpadding-3{
    padding-right:3px;
}
.rpadding-4{
    padding-right:4px;
}
.rpadding-5{
    padding-right: 5px;
}
.rpadding-6{
    padding-right:6px;
}
.rpadding-7{
    padding-right:7px;
}
.rpadding-8{
    padding-right:8px;
}
.rpadding-9{
    padding-right:9px;
}
.rpadding-10{
    padding-right:10px;
}
.rpadding-15{
    padding-right:15px;
}
.rpadding-20{
    padding-right:20px;
}

/*PADDING-RIGHT*/



/*END OF PADDING*/

/*END OF PADDING*/


/*PADING*/
.margin-0{
    margin:0px;
}
.margin-1{
    margin:1px;
}
.margin-2{
    margin: 2px;
}
.margin-3{
    margin:3px;
}
.margin-4{
    margin:4px;
}
.margin-5{
    margin: 25px;
}
.margin-6{
    margin:6px;
}
.margin-7{
    margin:7px;
}
.margin-8{
    margin:8px;
}
.margin-9{
    margin:9px;
}
.margin-10{
    margin:10px;
}
/*margin ALL*/

.tmargin-0{
    margin-top:0px;
}
.tmargin-1{
    margin-top:1px;
}
.tmargin-2{
    margin-top: 2px;
}
.tmargin-3{
    margin-top:3px;
}
.tmargin-4{
    margin-top:4px;
}
.tmargin-5{
    margin-top: 5px;
}
.tmargin-6{
    margin-top:6px;
}
.tmargin-7{
    margin-top:7px;
}
.tmargin-8{
    margin-top:8px;
}
.tmargin-9{
    margin-top:9px;
}
.tmargin-10{
    margin-top:10px;
}
.tmargin-30{
    margin-top:30px;
}

.tmargin-50{
    margin-top:50px;
}
.tmargin-80{
    margin-top:80px;
}
.tmargin-100{
    margin-top:100px;
}

.tmargin-40p{
    margin-top:40%;
}
.tmargin-10p{
    margin-top:10%;
}
.tmargin-80p{
    margin-top:80%;
}
.tmargin-50p{
    margin-top:50%;
}
/*margin-top*/

.bmargin-0{
    margin-bottom:0px;
}
.bmargin-1{
    margin-bottom:1px;
}
.bmargin-2{
    margin-bottom: 2px;
}
.bmargin-3{
    margin-bottom:3px;
}
.bmargin-4{
    margin-bottom:4px;
}
.bmargin-5{
    margin-bottom: 5px;
}
.bmargin-6{
    margin-bottom:6px;
}
.bmargin-7{
    margin-bottom:7px;
}
.bmargin-8{
    margin-bottom:8px;
}
.bmargin-9{
    margin-bottom:9px;
}
.bmargin-10{
    margin-bottom:10px;
}
.bmargin-15{
    margin-bottom:15px;
}
.bmargin-30{
    margin-bottom:30px;
}
.bmargin-50{
    margin-bottom:50px;
}
.bmargin-60{
    margin-bottom:60px;
}
.bmargin-100{
    margin-bottom:100px;
}
/*margin-BOTTOM*/
.lmargin-0{
    margin-left:0px;
}
.lmargin-1{
    margin-left:1px;
}
.lmargin-2{
    margin-left: 2px;
}
.lmargin-3{
    margin-left:3px;
}
.lmargin-4{
    margin-left:4px;
}
.lmargin-5{
    margin-left: 5px;
}
.lmargin-6{
    margin-left:6px;
}
.lmargin-7{
    margin-left:7px;
}
.lmargin-8{
    margin-left:8px;
}
.lmargin-9{
    margin-left:9px;
}
.lmargin-10{
    margin-left:10px;
}
/*margin-LEFT*/

.rmargin-0{
    margin-right:0px;
}
.rmargin-1{
    margin-right:1px;
}
.rmargin-2{
    margin-right: 2px;
}
.rmargin-3{
    margin-right:3px;
}
.rmargin-4{
    margin-right:4px;
}
.rmargin-5{
    margin-right: 5px;
}
.rmargin-6{
    margin-right:6px;
}
.rmargin-7{
    margin-right:7px;
}
.rmargin-8{
    margin-right:8px;
}
.rmargin-9{
    margin-right:9px;
}
.rmargin-10{
    margin-right:10px;
}

.rmargin-4p{
    margin-right: 2%;
}
/*margin-RIGHT*/

.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}

.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
/*FONTS*/


.fs-light{
    font-weight: lighter;
}
.fs-normal{
    font-weight: normal;
}
.fs-bold{
    font-weight: bold;
}

.fs-italic{
    font-style:italic;
}
.fs-underline{
    text-decoration: underline;
}


.icon-16{
    width:16px;
}


/*LABEL*/
label{
    font-family: 'Aller Regular';
    color:#c2c2c2;
    margin-top:5px;
    margin-bottom:5px;
    font-size:13px;
}
/*LABEL*/


/*FORMS*/

.bank_select{
    background: rgb(244,244,203); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,244,203,1) 0%, rgba(243,211,31,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(244,244,203,1) 0%,rgba(243,211,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(244,244,203,1) 0%,rgba(243,211,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4cb', endColorstr='#f3d31f',GradientType=0 ); /* IE6-9 */
    border:none;
    outline: none;

}


.form-control{
    font-family: 'Aller Regular';
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*INPUT TEXT*/

input[type=checkbox].css-checkbox {
            position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
        }

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
    padding-left:25px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
     font-family: 'Aller Regular';
}

input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
    background-position: 0 -15px;
}
label.css-label {
background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f80b846505526c55e93c6e8d920aab31.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
            }
/*CHECKBOX*/

input#fname{
background-image:url(../images/icon_name.png);
background-repeat:no-repeat;
background-position:6px;
border:1px solid #DADADA;
margin-top:10px;
padding-left:35px;
width:310px;
height:30px;
font-size:14px;
box-shadow:0 0 10px;
-webkit-box-shadow:0 0 10px;
/* For I.E */
-moz-box-shadow:0 0 10px;
/* For Mozilla Web Browser*/
border-radius:5px;
-webkit-border-radius:5px;
/* For I.E */
-moz-border-radius:5px
/* For Mozilla Web Browser*/
}

/*FORMS*/

/*COLORS*/

.white{
    color:#fff;
}
.black{
    color:#000;
}
.light-gray{
    color:#c2c2c2;
}
.gold{
    color:#e0c16b;
}
.brown{
    color:#5d4b35;
}
.red{
    color:#e10b0b;
}
.normal-green{
    color:#228711;
}
.normal-gold{
    color:#2a62c7;
}
.blue, .ntf{
    color:#00243e;
}

.green{
    color:#43c343;
}
.yellow{
    color:#d4d174;
}

.bg-light-blue{
    background: #2eb9ca; 
}
.bg-lighter-blue{
    background: #33576e; 
}
.bg-light-gray{
    background: #dddddd;
}
.bg-dark-gray{
    background: #26272c;
}
.bg-dark-brown{
    background: #473d32;
}
.bg-darker-gray{
    background: #1d1e21;
}
.bg-gray-panel{
    background: #35353f;
}
.bg-brown-panel{
    background: #d7d7d7;
}
.bg-blue-panel{
    background: #00243e;
}
.bg-black{
     background: #1d1d1d;
}
.bg-none{
    background: transparent;
}

/*COLORS*/

/*RADIUS*/
.br-5{
    border-radius: 5px;
}
.br-20{
    border-radius: 20px;
}


/*HOME*/
.content{
    height: 100vh !important;
    background: #e6fdff;
}

.content-2{
    height: 100% !important;
    background: #e6fdff;
}

.content .top-banner{
    height:50px;
    background: #35353f;
    margin-bottom: 1px;
    padding:15px;
}

.top-banner h1, .slider h1{
    text-align: center;
    color:#474747;
    font-family: 'Aller Regular';
}

.content .slider{
    background: #35353f;
    height:auto;
}
.content .jackpot{
    padding-top:2px;
    padding-bottom:2px;
    height: 52px;
    background: #00243e;
    z-index: 9999;
}

.jackpot .col-lg-3{
    background-color: #2eb9ca;
}

.jackpot .double-border {

  border: 1px solid #00243e;
  height: 45px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 3px;
  text-align: center;


}
.jackpot .double-border:before {
  background: none;
  border: 2px dotted #fff;
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  pointer-events: none;
}
.double-border h1{

    font-size:16px;
    margin:0px;
    padding:0px;
    padding-top:6px;
    color:#00243e;
    text-transform: uppercase;
    line-height: 10px;
}
.jackpot .row{
    padding:2px;
}
.jackpot .col-lg-9{
    text-shadow: right;
    padding-top:15px;
    padding-right:5px;
}
.jackpot .col-lg-9 h1{
    font-size: 36px;
    font-family: 'Aller Regular';
    font-weight: normal;
    text-align: right;
    color: #fff;
}
/*HOME*/


.verify{
     margin-top:26px;
    padding-right:.5375rem;

    padding-left:.5375rem;
}

.validate{
    padding:20px;
}
.validate li > p{
    margin: 0px;
    padding:0px;
}

/*SLIDER*/
.login-modal{
    border:none !important;
    padding: 0px !important;
    background: #006fa8;
    
}
.login-modal .ui-dialog-titlebar{
    text-shadow: none;
    font-weight: normal;
    font-family: 'Aller Regular';
    border-radius: 0px;
    width:100%;

}
.login-modal .masuk, .login-modal .forgot{
    padding-top: 25px ;
    padding-bottom: 00px ;
    padding-left:20px;
    padding-right:20px;
    text-shadow: center;
}
.login-modal .masuk .btn{
    font-size:14px;
    height:40px;
}
.login-modal .forgot p{
    text-align: center;
}
/*LOGIN*/


/*SIDEBAR*/

.player-info .row{
    height:35px;
    padding:9px;
}


.dropbtn {
   font-family: 'Aller Regular';
    background: rgb(244,243,202); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,243,202,1) 0%, rgba(243,211,34,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(244,243,202,1) 0%,rgba(243,211,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(244,243,202,1) 0%,rgba(243,211,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f3ca', endColorstr='#f3d322',GradientType=0 ); /* IE6-9 */
    color: #000;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
   font-family: 'Aller Regular';
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.download img{
    max-height: 70px;
}

.download button{
    border-radius: 0px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

.dropdown-content a {
    height: 40px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   z-index: 99999;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 9999;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown .bank{
    height:20px;
    float:left;
}

/*GAME BANNERS*/

.full-size-banner{

}

.img-vip{
    max-width: 100%;
    height: auto;
}

.content-game{
/*    min-height: 450px;
    max-height: auto !important;*/
    height: 100vh;
    background: #26272c;

}
/*GAME BANNERS*/

.img-fluid-game{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.game-header{
    color: #e0c16b;
    background: none;
    border: #e0c16b 1px solid;
    font-size:20px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    padding:10px;
    text-shadow: none;
}

.game-info{
    font-weight: normal;
    text-align: center;
    color:#fff;
    font-weight: normal;
    font-size:12.5px;
}

.gh{
    width: 66.666667%;
    float: left;
    margin-left: 16.666667%;
}

.gi{
    width: 66.666667%;
    float: left;
    margin-left: 16.666667%;
}

.game-btn{
    margin-top: 125%;
}

.gbtn-1{
    width: 49.98%;
    padding: 10px;
    float: left;
}

.gbtn-2{
    width: 49.98%;
    padding: 10px;
    float: left;
}

.blackjack{
    content: url('../../img/game-page/blackjack.png');    
    width: 100%;
    height: auto;
}

.capsa{
    content: url('../../img/game-page/capsa.png');    
    width: 100%;
    height: auto;
}

.ceme-keliling{
    content: url('../../img/game-page/ceme-keliling.png');    
    width: 100%;
    height: auto;
}

.ceme{
    content: url('../../img/game-page/ceme.png');    
    width: 100%;
    height: auto;
}

.domino{
    content: url('../../img/game-page/domino.png');    
    width: 100%;
    height: auto;
}

.live-poker{
    content: url('../../img/game-page/live-poker.png');    
    width: 100%;
    height: auto;
}

.poker{
    content: url('../../img/game-page/poker.png');    
    width: 100%;
    height: auto;
}

.slider-img1{
    content: url('../../img/game-page/slider1-potrait.jpg');
    display: block;
    width: 100%;
    min-height: 159px;
}

.slider-img2{
    content: url('../../img/game-page/slider2-potrait.jpg');
    display: block;
    width: 100%;
    min-height: 159px;
}


.slider-img3{
    content: url('../../img/game-page/slider3-potrait.jpg');
    display: block;
    width: 100%;
    min-height: 159px;
}
/* iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {

    .gh{
        width: 35%;
        float: left;
        margin-left: 14%;
        padding-top: 5%;
    }

    .gi{
        width: 53.666667%;
        float: left;
        margin-left: 4.666667%;
    }

    .game-btn{
        margin-top: 30%;
    }

    .gbtn-1{
        width: 25%;
        margin-left: 10px;
        padding: 10px;
        float: left;
    }

    .gbtn-2{
        width: 25%;
        padding: 10px;
        float: left;
    }

    .blackjack{
      content: url('../../img/game-page/blackjack-landscape.png');
      width: 100%;
      height: auto;
    }

    .capsa{
      content: url('../../img/game-page/capsa-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme-keliling{
      content: url('../../img/game-page/ceme-keliling-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme{
      content: url('../../img/game-page/ceme-landscape.png');    
      width: 100%;
      height: auto;
    }

    .domino{
      content: url('../../img/game-page/domino-landscape.png');    
      width: 100%;
      height: auto;
    }

    .live-poker{
      content: url('../../img/game-page/live-poker-landscape.png');    
      width: 100%;
      height: auto;
    }

    .poker{
      content: url('../../img/game-page/poker-landscape.png');    
      width: 100%;
      height: auto;
    }
}

/* iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) { 

    .gh{
        width: 35%;
        float: left;
        margin-left: 14%;
        padding-top: 5%;
    }

    .gi{
        width: 53.666667%;
        float: left;
        margin-left: 4.666667%;
    }

    .game-btn{
        margin-top: 30%;
    }

    .gbtn-1{
        width: 25%;
        margin-left: 10px;
        padding: 10px;
        float: left;
    }

    .gbtn-2{
        width: 25%;
        padding: 10px;
        float: left;
    }

    .blackjack{
      content: url('../../img/game-page/blackjack-landscape.png');
      width: 100%;
      height: auto;
    }

    .capsa{
      content: url('../../img/game-page/capsa-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme-keliling{
      content: url('../../img/game-page/ceme-keliling-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme{
      content: url('../../img/game-page/ceme-landscape.png');    
      width: 100%;
      height: auto;
    }

    .domino{
      content: url('../../img/game-page/domino-landscape.png');    
      width: 100%;
      height: auto;
    }

    .live-poker{
      content: url('../../img/game-page/live-poker-landscape.png');    
      width: 100%;
      height: auto;
    }

    .poker{
      content: url('../../img/game-page/poker-landscape.png');    
      width: 100%;
      height: auto;
    }
}

/* iPhone 6+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 

    .gh{
        width: 35%;
        float: left;
        margin-left: 14%;
        padding-top: 5%;
    }

    .gi{
        width: 53.666667%;
        float: left;
        margin-left: 4.666667%;
    }

    .game-btn{
        margin-top: 30%;
    }

    .gbtn-1{
        width: 25%;
        margin-left: 10px;
        padding: 10px;
        float: left;
    }

    .gbtn-2{
        width: 25%;
        padding: 10px;
        float: left;
    }

    .blackjack{
      content: url('../../img/game-page/blackjack-landscape.png');
      width: 100%;
      height: auto;
    }

    .capsa{
      content: url('../../img/game-page/capsa-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme-keliling{
      content: url('../../img/game-page/ceme-keliling-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme{
      content: url('../../img/game-page/ceme-landscape.png');    
      width: 100%;
      height: auto;
    }

    .domino{
      content: url('../../img/game-page/domino-landscape.png');    
      width: 100%;
      height: auto;
    }

    .live-poker{
      content: url('../../img/game-page/live-poker-landscape.png');    
      width: 100%;
      height: auto;
    }

    .poker{
      content: url('../../img/game-page/poker-landscape.png');    
      width: 100%;
      height: auto;
    }
}

/* iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .gh{
        width: 35%;
        float: left;
        margin-left: 14%;
        padding-top: 5%;
    }

    .gi{
        width: 53.666667%;
        float: left;
        margin-left: 4.666667%;
    }

    .game-btn{
        margin-top: 30%;
    }

    .gbtn-1{
        width: 25%;
        margin-left: 10px;
        padding: 10px;
        float: left;
    }

    .gbtn-2{
        width: 25%;
        padding: 10px;
        float: left;
    }

    .blackjack{
      content: url('../../img/game-page/blackjack-landscape.png');
      width: 100%;
      height: auto;
    }

    .capsa{
      content: url('../../img/game-page/capsa-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme-keliling{
      content: url('../../img/game-page/ceme-keliling-landscape.png');    
      width: 100%;
      height: auto;
    }

    .ceme{
      content: url('../../img/game-page/ceme-landscape.png');    
      width: 100%;
      height: auto;
    }

    .domino{
      content: url('../../img/game-page/domino-landscape.png');    
      width: 100%;
      height: auto;
    }

    .live-poker{
      content: url('../../img/game-page/live-poker-landscape.png');    
      width: 100%;
      height: auto;
    }

    .poker{
      content: url('../../img/game-page/poker-landscape.png');    
      width: 100%;
      height: auto;
    }
}