.page-header {
    background: #152949 !important;

}
.main {
    background-color: #000000;
}
.button-blues {
    background: #9d0623;
    background-image: -webkit-linear-gradient(top, #9d0623 0%, #31020b 100%);
    background-image:         linear-gradient(to bottom, #9d0623 0%, #31020b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d0623', endColorstr='#31020b', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #ffffff;
}