@charset "UTF-8";

/* ----------------------------------------------------------------------------- *\
   CSS RESET
\* ----------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/**** HTML5 display-role reset for older browsers ****/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------------------------------------------------- *\
   GLOBAL STYLE
\* ----------------------------------------------------------------------------- */

/**** Fonts ****/
@font-face{
    font-family: "avenir_95_black";
    src:url("../js/font/avenir_95_black-webfont.eot?#iefix");
    src:url("../js/font/avenir_95_black-webfont.eot?#iefix") format("eot"),url("../js/font/avenir_95_black-webfont.woff") format("woff"),url("../js/font/avenir_95_black-webfont.ttf") format("truetype"),url("../js/font/avenir_95_black-webfont.svg") format("svg");
}
@font-face{
    font-family: "avenir_45_book";
    src:url("../js/font/avenir_45_book-webfont.eot?#iefix");
    src:url("../js/font/avenir_45_book-webfont.eot?#iefix") format("eot"),url("../js/font/avenir_45_book-webfont.ttf") format("truetype");
}
@font-face{
    font-family: "audiowide_regular";
    src:url("../js/font/audiowide-regular-webfont.eot?#iefix");
    src:url("../js/font/audiowide-regular-webfont.eot?#iefix") format("eot"),url("../js/font/audiowide-regular-webfont.woff") format("woff"),url("../js/font/audiowide-regular-webfont.ttf") format("truetype"),url("../js/font/audiowide-regular-webfont.svg") format("svg");
}

/**** Misc ****/
address,cite,q,dfn{
    font-style:normal;
}
article,aside,dialog,figure,footer,header,hgroup,nav,section{
    display: block;
}
a,ins,del{
    text-decoration: none;
}
q,blockquote{
    quotes: none;
}
q:after,q:before,blockquote:after,blockquote:before{
    content: "";
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
th,td{
    vertical-align: top;
}
th{
    text-align: left;
}
button,input,select,textarea,optgroup,option{
    font: inherit;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
a{
    outline: none;
}
.extra_space{
	padding:5px 0;
	background:none;
}
.extra_spaces{
	padding:17px 0;
	background:none;
}
.extra_space_big{
	padding:83px 0;
	background:none;
}
.inner_space{
	margin:10px 0;
	background:none;
}
.floatleft{
	float:left;
}
.uialert{
    position: fixed;
    top: 5%;
    left: 50%;
    display: none;
    z-index: 100000;
    background: #ce0402;
    border:1px solid #ffff9d;
    padding: 20px;
    color: #ffff9d;
    font-size: 15px;
    line-height: 1.5em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}


/**** Layout General ****/

/* Links */
a{
    color: #ffffff;
}
a:hover,a:focus{
    color: #16edfe;
}
a:active{
    position: relative;
}

/* Headings*/
h1,h2,h3,h4,h5,h6,th{
    /*font-weight: 400;*/
    color: #ffffff;
    font-family: 'avenir_95_black';
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing:0px;
    position: relative;
    text-transform: uppercase;
    margin
}
h1{
    font-size: 24px;
    padding: 0 0 5px 0;
    color: #ffffff;
}

h2{
    font-size: 18px;
    padding: 5px 0;
    color: #ffffff;
}

h3{
    font-size: 15px;
    padding: 5px 0;
    color: #ffffff;
}

h4{
    font-size: 14px;
    padding: 5px 0;
    color: #ffffff;
}

h5{
    font-size: 13px;
    padding: 5px 0;
    color: #ffffff;
}

h6{
    font-size: 12px;
    padding: 5px 0;
    color: #ffffff;
}

/*	heading colors and links  */
h1 a, h2 a{
    text-decoration:none;
}

h3, h4,h5,h6, h3 a, h4 a, h5 a, h6 a{
    text-decoration:none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
    color: #ffffff;
}

/* gradient 1 */
.gradient1 h1 {
	font-family: 'avenir_95_black';
	position: relative;
	margin: 30px 0 50px;
	color: #ffffff;
}
.gradient1 h1 span {
	background: url(../img/gradient_white.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
}

/* gradient 2 */
.gradient2 h1 {
	font-family: 'audiowide_regular';
    font-size:50px;
	position: relative;
	margin: 0px 0 10px 0px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -2px;
}
.gradient2 h1 span {
	background: url(../img/gradient_dark.png) repeat-x;
	position: absolute;
	display: block;
	width: 360px;
	height: 30px;
    margin-top:30px;
}

body{
    margin: 0 auto 0 auto;
    background: #141414;
    font: 400 13px/1.5 "avenir_45_book",Verdana,sans-serif;
    color: #ffffff;
    position: relative;
    padding: 0;
}
img{
	margin: 0;
	line-height: middle;
	border: none;
}
#logo{
	width:232px;
	float:left;
	margin-top:35px;
}
#wrapper{
    width: 100%;
	position: relative;
	padding: 0;
}
#content{
    width:100%;
    height:453px;
    background: #141414 url('../img/mid_bg.jpg') repeat-x;
}
#content_page{
    width:100%;
    height:817px;
    background: #141414 url('../img/mid_page_bg.jpg') repeat-x;
}
.container{
    width: 942px;
    margin: 0 auto 0 auto;
	position: relative;
	display: block;
	padding: 0;
	border: 0 !important
}


/**** Page Layout ****/
.blue_box{
    position: relative;
    max-height:680px ! important;
	padding: 20px;
    background:url('../img/page_bg.jpg') repeat-x;
    border:1px outset #00a0bc;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    /*
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    */
}
.blue_box2{
    position: relative;
	padding: 10px;
    background:url('../img/page_bg.jpg') repeat-x;
    border:1px outset #00a0bc;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    /*
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    */
}
.blue_box ul{
	list-style: disc;
	margin-left: 15px;
}
.blue_box ol{
	margin-left: 0px;
	counter-reset:first;
	list-style-type:none;
}
.blue_box ol li{
	list-style-type: none;
	font-weight: normal;
	margin-bottom: 10px;
}
.blue_box ol li:before{
	counter-increment: first;
    content:counter(first)". ";
}
.blue_box ol li ul li{
	list-style: disc;
	margin-left: 15px;
}
.transparent_box{
    position: relative;
	padding: 10px;
}
.content_scroll,.content_scroll_arrows{
    max-height:680px ! important;
    overflow-x: hidden ! important;
    overflow-y: auto ! important;
}
.content_scroll_horizontal{
	height: auto;
	max-height: 1000px;
}
.content.left{
	width:590px;
	margin:10px 20px;
	float:left;
	padding:0 !important;
	/*display:inline;*/
}

.content.right{
	width:590px;
	margin:10px 20px;
	float:right;
    padding:0 !important;
	/*display:inline;*/
}

/**** Sidebars ****/
.sidebar_left{
	width:286px !important;
	overflow:hidden;
	display:inline !important;
	float:left;
	padding: 10px;
	margin:0;
}

.sidebar_right{
	width:286px !important;
	overflow:hidden;
	display:inline !important;
	float:right;
	padding:10px;
	margin:0;
}

/**** RT CSS framework ****/
.box{
    margin:0px 10px 20px 10px;
	padding:0;
	display:inline;
	float:left;
	border:0;
	overflow:hidden;
}
.inner_box{
    background:url('../img/inner_page_bg.png') repeat-x;
	padding:10px;
    margin:10px 0;
	border:0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.inner_box2{
    background:url('../img/inner_page_bg2.png') repeat-x;
	padding:10px;
    margin:0px 0;
	border:0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* sidebar box */
.sidebar_left .box,
.sidebar_right .box{
    margin:0px auto 20px auto;
	padding:0;
	clear:both;
	display:block;
	overflow: hidden;
	width:220px;
}

.box span{
    float:right;
}

.box span.pink{
    float:left;
}

.box p{
    text-align:justify;
}


/* columns for full-width content */

/* two  */
.content .box.two{
	width:460px;
}

/* three*/
.content .box.three{
	width:300px;
}

/* Four*/
.content .box.four{
	width:220px;
}

/* 2:3 column*/
.content .box.two-three{
	width:620px;
}

/* 3:4 column */
.content .box.three-four{
	width:700px;
}

/* columns for sub pages with sidebar  */

/* two  */
.content.left .box.two{
	width:330px;
}

/* three */
.content.left .box.three{
	width:213px;
}

/* Four */
.content.left .box.four{
	width:155px;
}

/* 2:3 column */
.content.left .box.two-three{
	width:447px;
}

/* 3:4 column */
.content.left .box.three-four{
	width:505px;
}

/* 4:5 column */
.content.left .box.four-five{
	width:680px;
}

/* first and last column fix*/
.box.first{
	margin-left:0px !important;
}

.box.last{
	margin-right:0px !important;
}

.box.full{
	margin-left:0px !important;
}

.box.odd{
	margin-left:0px !important;
    background:#E6A6CF;
}

.box.even{
	margin-right:0px !important;
    background:none;
}


/**** Other Layout ****/
#poker{
    width:590px;
    height:344px;
    background:url('../img/games_poker.png') no-repeat;
}
#capsa{
    width:590px;
    height:344px;
    background:url('../img/games_capsa.png') no-repeat;
}
#plus{
    float:left;
    margin:28px 0 0 25px;
}
.jackpot{
    font-family: 'audiowide_regular';
    font-size:50px;
	margin: -10px 0 20px 0px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -2px;
}
#jackpot_winner{
    float:left;
    width:300px;
    height:215px;
    margin-left:0px;
    background:url('../img/jackpot_winner_bg.png') no-repeat;
}
#jackpot_winner_side{
    width:300px;
    height:215px;
    margin-left:-7px;
    background:url('../img/jackpot_winner_bg.png') no-repeat;
}
#profile_avatar{
    width:92px;
    height:92px;
    border:2px solid #16edfe;
    float:left;
}
#profile_info{
    float:left;
    margin:20px 0 0 10px;
    line-height:2em;
}
.profile_name{
    font-size:18px;
    font-weight:bold;
    color:#69e8ff;
}
.profile_chips{
    font-size:13px;
    font-weight:bold;
    color:#fffb88;
}
.chips_icon{
    float:left;
    margin:3px 5px 0 0;
}
#winner_avatar{
    float:left;
    margin:20px 0 0 35px;
}
#winner_info{
    float:left;
    margin:20px 0 0 10px;
    width:150px;
    line-height:2em;
}
.winner_name{
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
}
.winner_card{
    font-size:13px;
    font-style:italic;
    color:#f6ff00;
}
.winner_icon{
    float:left;
    margin:1px 3px 0 -3px;
}
.winner_amount{
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}
.winner_date{
    float:left;
    font-size:9px;
    font-style:italic;
    color:#04fe85;
}
#trans{
    float:left;
    width:300px;
    height:180px;
    margin:32px 20px 0 20px;
}
#trans_side{
    width:300px;
    height:180px;
    margin:10px 0 0 -7px;
}
.deposit_panel{
    width:300px;
    height:90px;
    background:url('../img/panel_bg.png') no-repeat;
}
.withdraw_panel{
    width:300px;
    height:90px;
    margin-top:4px;
    background:url('../img/panel_bg.png') no-repeat;
}
.panel_icon{
    float:left;
    width:43px;
    height:52px;
    margin:0 10px 0 25px;
}
.jadwal_bank{
    margin:0 0 -3px -2px;
}
#slider-deposit, #slider-withdraw{
    float:left;
    width:195px;
    height:48px;
    overflow:hidden;
}
.sliders{
    width: 195px;
    height: 42px;
    padding: 5px 0px;
}
.trans_nav{
    float:right;
    margin:12px 20px 0 0;
}
#nav-deposit a, #nav-withdraw a{
    float:left;
    padding: 0 2px;
    width: 10px;
    height: 10px;
    background: url('../img/bullets_inactive.png') no-repeat;
}
#nav-deposit a.activeSlide, #nav-withdraw a.activeSlide{
    background: url('../img/bullets_active.png') no-repeat;
}
.trans_name{
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}
.trans_status{
    float:right;
    font-size:14px;
    font-style:italic;
    color:#00eaff;
}
.trans_amount{
    font-size:14px;
    font-weight:normal;
    color:#f6ff00;
}
#customer_support{
    float:right;
    width:296px;
    height:187px;
    margin:28px 0 0 0;
}
#customer_support_side{
    width:296px;
    height:187px;
    margin:15px 0 0 -7px;
}
.footer_container{
    clear:both;
    position:absolute;
}
#footer{
    text-align:left;
    margin:0 auto;
}
#footer span{
    color:#00baff;
    font-weight:bold;
}
#copyright{
    color:#00baff;
}
#copyright span{
    font-weight:bold;
}


/**** Navigation ****/
#nav{
    float:left;
    width: 100%;
    height: 37px;
    background: #005a81 url('../img/nav_bg.jpg') repeat-x;
}
#navigation_bar{
	padding: 0 20px;
	display: block;
	position: relative;
	margin: 0;
	z-index: 60;
}
#navigation{
	list-style:none;
	list-style-position:outside;
	float:left;
	position:relative;
    margin:-30px 0 0 -15px;
    font-family: 'avenir_95_black';
}
#navigation li{
	float:left;
	font-size:14px;
	padding:2px 13px;
	position:relative;
}
#navigation li img{
	padding:0;
    position:relative;
}
#navigation li .nav_separator{
    width:3px;
}

/* top-level links */
#navigation li a{
    text-decoration:none;
    color:#ffffff;
}

/* top-level links hover */
#navigation li a:hover, #navigation li.current_page_item a{
    text-decoration:none;
    color:#f6ff00;
}

/* sub level links */
#navigation li li a{
    font-size:14px;
    display:block;
    color:#ffffff !important;
}

/* sub level links hover */
#navigation li li a:hover{
    font-size:14px;
    color:#77c9d4 !important;
    background: #ebb5d7;
}


/* drop down menu images */
#navigation ul img{
    display:block;
    padding:0;
    margin:0px auto 5px auto;
    border:1px solid #ffffff ;
}

/* drop down style */
#navigation ul{
    z-index:50;
    font-size:14px;
    overflow:visible;
    width:auto;
    list-style-type: none;
    list-style-position:outside;
    width:230px;
    padding:4px 0 0 0!important;
    position:absolute;
    left:0;
    top:52px;
    display:none;
    background:#ffffff;
    border:1px solid #a1076e;
    -webkit-box-shadow: 2px 2px 4px #545454;
    -moz-box-shadow: 2px 2px 4px #545454;
    background:#ffffff;
}

#navigation ul li{
    float:none;
    padding-bottom:0px;
    clear:both;
    display:block;
    position:relative;
    margin:0 10px;
    padding:8px 2px;
    background: none;
}

 /* last item of a drop down menu */
#navigation ul li.last{
    background: none;
}

/* sub levels */
#navigation ul ul{
    position:absolute;
    left:210px;
    top:4px;
    z-index:999;
}

/* Sub Navigation */

ul.sub_navigation  {
    list-style:none;
    list-style-position:outside  !important;
    margin:0px;
    width:245px;
}

ul.sub_navigation li {
    padding:5px 5px;
    border-bottom:1px dotted #16edfe;
}

ul.sub_navigation li a{
    text-decoration:none;
    font-size:13px;
    color:#ffffff;
}

ul.sub_navigation li:hover{
    background:#16edfe;
}

ul.sub_navigation li:hover a, .sidebar ul.sub_navigation li a:hover{
    text-decoration:none;
    color:#ffffff;
}


/**** News ****/
#news_ticker{
    z-index:50;
    padding-top:5px;
}
#news_scroll{
    width:850px;
    height: 26px;
    position:absolute;
    margin-left:70px;
    overflow:hidden;
    font-family: 'verdana';
    font-size:12px;
}
#news_scroll a{
    color:#8bf5ff;
}
#news_scroll span{
    color:#f6ff00;
}
#info{
    position:absolute;
    font-family: 'avenir_95_black';
    font-size:14px;
    color:#ff0000;
    margin:1px 0 0 20px;
    z-index:10;
}
#latest_news{
    float:right;
    margin:14px 25px 0 0;
    width:290px;
    height:144px;
    background:url('../img/news_bg.jpg') repeat-x;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.heading{
    margin:10px 0 0 20px;
}
.heading2{
    float:left;
    margin:5px 0 0 25px;
}
.news_list,.news_list_arrows{
    float:left;
    margin:7px 0 0 20px;
    width:260px;
    height:103px ! important;
    overflow-x: hidden ! important;
    overflow-y: auto ! important;
}
.news_list_horizontal{
	height: auto;
	max-height: 200px;
}
.news_content{
    padding-bottom:5px;
}
.news_content a{
    color: #f6ff00;
}
.news_content a:hover,.news_content a:focus{
    color: #16edfe;
}
.news_content a:active{
    position: relative;
}
.news_title{
    font-size:12px;
    font-style:normal;
}
.news_date{
    font-size:9px;
    font-style:normal;
    color:#ffffff;
}

/**** Slider ****/
.nivoSlider {
    position:absolute;
    overflow: visible;
    margin:0 auto;
}
#slider img, .nivoSlider img{
    width: 1200px;
    height: 523px;
    display: none;
}
.nivo-controlNav {
    float:left;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left:45.5%;
    cursor: pointer;
    margin-bottom:-30px;
}
.nivo-controlNav a {
    display:inline-block;
    width:13px;
    height:13px;
    background:url('../img/bullets.png') no-repeat;
    text-indent:-9999px;
    border:0;
    margin: 0 2px;
}
.nivo-controlNav a.active {
    background-position:0 100%;
}
.nivo-directionNav a{
    display:block;
    bottom: 0px;
    text-indent:-9999px;
    z-index: 200;
}
a.nivo-nextNav{
    width: 16px;
    height: 13px;
    margin-right:10px;
    background: url('../img/arrows.png') no-repeat;
    background-position: -16px 0px;
    right:330px;
    top:397px;
}
a.nivo-prevNav{
    width: 16px;
    height: 13px;
    margin-left: 10px;
    background: url('../img/arrows.png') no-repeat;
    background-position: 0px 0px;
    left: 330px;
    top:397px;
}
.nivo-caption{
    bottom: 0px;
}
.nivo-caption p{
    padding: 10px;
}
#slideshow{
    position:absolute;
    z-index:-100;
    width:1200px;
    height:523px;
    background:url('../img/loading.gif') no-repeat 50% 50%;
    margin-left:-150px;
}

/**** Login Panel ****/
#login_panel{
    position: absolute;
    top: 27px;
    right: 10px;
    width: 200px;
    padding: 10px 15px;
    display: none;
    background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #cbcbcb 0%, #e5e5e5 80%);/* FF3.6+ */
	background: -webkit-linear-gradient(top, #cbcbcb 0%,#e5e5e5 80%);/*Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #cbcbcb 0%,#e5e5e5 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border:1px solid #b7b7b7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#login_panel a{
    color: #000000;
    font-size: 8pt;
    font-weight: normal;
    font-style: italic;
}
#login_panel a:hover, #login_panel a:focus{
    color: #00658e;
}
#login_panel a:active{
    position: relative;
}
label{
    line-height: 1.8;
    font-size: 10pt;
    font-weight: bold;
    color: #00658e;
}
.login_input{
    width:194px;
    height:20px;
}
.login_input_pass{
    width:120px;
    height:20px;
}
.validation_input{
    width:70px;
    height:20px;
}
.forgot_pass{
    float:left;
    padding-top:5px;
}
.new_register{
    float:right;
    padding-top:5px;
}

/**** Button ****/
#login_btn{
    position:relative;
	float:right;
    margin:-31px 0 0 0;
    width: 100px;
    height: 25px;
    background: url('../img/login_btn.png') top center no-repeat;
}
#login_btn:hover{
    background-position: 0px -25px;
}
#register_btn{
    position:relative;
	float:left;
    margin:0px 0 0 0;
    width: 249px;
    height: 57px;
    background: url('../img/register_btn.png') top center no-repeat;
}
#register_btn:hover{
    background-position: 0px -57px;
}
.play_btn{
    position:relative;
	float:right;
    margin:0 20px 0 0;
    width: 220px;
    height: 52px;
    background: url('../img/play_btn.png') top center no-repeat;
}
.play_btn:hover{
    background-position: 0px -52px;
}
.how_btn{
    position:relative;
	float:right;
    margin:0 20px 0 0;
    width: 145px;
    height: 42px;
    background: url('../img/how_btn.png') top center no-repeat;
}
.how_btn:hover{
    background-position: 0px -42px;
}

/**** Inputs ****/
select,optgroup,option,input,button,textarea{
    font-size: 12px;
    font-weight: normal;
    color:#00658e;
}
select:focus,optgroup:focus,option:focus,input:focus,input[type=text]:focus,input[type=password]:focus,input[type=file]:focus,.textbox:focus,textarea:focus{
    border: 1px solid #16edfe;
}
select{
    background:#ffffff;
    border:1px solid #b4b4b4;
    color: #00658e;
    padding: 2px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}
option{
    background:#ffffff url('../img/button01.jpg') repeat-x;
}
input[type=text],input[type=password],input[type=file],.textbox,textarea{
    background:#ffffff;
    border:1px solid #b4b4b4;
    color: #00658e;
    padding: 2px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}
input[type=button],button{
    background:#ffffff url('../img/button01.jpg') repeat-x;
    border:1px solid #cdedea;
    color: #ffffff;
    padding: 2px;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}
input[type=submit]{
    width:150px;
    height:40px;
    background:#00394b url('../img/button01.gif') repeat-x;
    border:none;
    color: #ffffff;
    font-family: 'audiowide_regular';
    font-size:21px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}
input[type=submit]:hover{
    background:#00394b url('../img/button02.gif') repeat-x;
}
input[type=button]:hover,button:hover,.button:hover{
    background:#00394b url('../img/button02.gif') repeat-x;
}
input[type=button]:disabled,input[type=submit]:disabled,button:disabled,.button:disabled{
    background: #cfcfcf url('../button03.gif') repeat-x;
    color: #aaaaaa;
}
input[type=checkbox],input[type=radio],.chkbox{
    border: 0px;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    line-height: 1.2em;
    width: 20px;
    height: 20px;
}
.button_small{
    width:100px;
    height:20px;
    background:#00394b url('../img/button01.gif') repeat-x;
    border:none;
    color: #ffffff;
    font-family: 'audiowide_regular';
    font-size:10px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}


/**** Inputs ****/
.error-report{
    margin-bottom:10px;
    background:#f6ff00;
    color:#ff0000;
    font-weight:bold;
    padding:20px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}


