body{
	margin:0;
	top:0;
	left:0;
	font-family:open sans;
	background: url('../img/bg-val.jpg') #000 no-repeat center;
	background-size: 100% auto;
	color: #fff;
	height: 100vh;
}

img{
	margin:0;
	vertical-align:middle;
	border:none;
}

a{
	color: #707070;
}

.container{
	background: url(../img/Pattern.jpg);
	width: 100%;
	height: 100%;
}

.sub-container{
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	height: 100%;
}

.header{
	background: #2a96c1;
	background: -moz-linear-gradient(top, #2a96c1 0%, #035a7f 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #2a96c1), color-stop(100%, #035a7f));
	background: -webkit-linear-gradient(top, #2a96c1 0%, #035a7f 100%);
	background: -o-linear-gradient(top, #2a96c1 0%, #035a7f 100%);
	background: -ms-linear-gradient(top, #2a96c1 0%, #035a7f 100%);
	background: linear-gradient(to bottom, #2a96c1 0%, #035a7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a96c1', endColorstr='#035a7f', GradientType=0 );	height: 45px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.title{

	padding: 10px 0 0 0px;
	font-size: 20px;
	font-weight: 600;
}

.main{
	position: absolute;
	width: 800px;
	top: 50%;
	left: 50%;
	margin: -30vh 0 0 -400px;
}

.content{
	background:transparent;
	clear:both;
}

.sub-content{
	background: #393939;
	background: -moz-linear-gradient(top, #393939 0%, #2c2b2b 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #393939), color-stop(100%, #2c2b2b));
	background: -webkit-linear-gradient(top, #393939 0%, #2c2b2b 100%);
	background: -o-linear-gradient(top, #393939 0%, #2c2b2b 100%);
	background: -ms-linear-gradient(top, #393939 0%, #2c2b2b 100%);
	background: linear-gradient(to bottom, #393939 0%, #2c2b2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393939', endColorstr='#2c2b2b', GradientType=0 );
	clear:both;
}

.sub-content h1{
	font-size:18px;
	color:#ffdb0d;
	font-weight: 600;
	margin: 10px 0;"
}

.sub-content ul{
	text-align: left;
}

.user-box{
	width: 500px;
	font-size: 13px;
}

.user-detail{
	background: #1c80a9;
	background: -moz-linear-gradient(top, #1c80a9 0%, #02587d 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #1c80a9), color-stop(100%, #02587d));
	background: -webkit-linear-gradient(top, #1c80a9 0%, #02587d 100%);
	background: -o-linear-gradient(top, #1c80a9 0%, #02587d 100%);
	background: -ms-linear-gradient(top, #1c80a9 0%, #02587d 100%);
	background: linear-gradient(to bottom, #1c80a9 0%, #02587d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c80a9', endColorstr='#02587d', GradientType=0 );
	box-shadow: 0px -2px 0px #238bb5;
	margin: -13px 0 20px 0;
	clear:both;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.user-box p{
	background: #0c4c69;
	font-size: 13px;
	padding: 10px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.row{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 5px 0;
}

.lbl{
	float: left;
	position: relative;
	width: 25%;
	text-align: left;
	margin: 5px 0 0 35px;
}

.frm-input{
	width: 60%;
	height: 30px;
	float: left;
	border: none;
	padding-left: 10px;
	border-radius: 20px;
	font-family: open sans;
	font-weight: bold;
}

.newval-box{
	width: 100%;
	margin: 30px 0;
}

.newval-box div{
	width: 33%;
	float: left;
	font-size: 12px;
	color: #fff;
}

.newval-box img{
	height: 100px;
}

.error{
	color: #df3030;
	font-size: 16px;
	padding: 20px 0;
	clear: both;
}

.caution{
	background: #fedd32;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 0;
	margin: -10px 0 15px 0;
}

.pin-container{
	background: #222222;
	padding: 10px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pin-container h4{
	color:#ffdb0d;
}

.pin{
	width: 150px;
	height: 30px;
	color: #000;
	font-size: 30px;
	border-radius: 3px;
	border: none;
	letter-spacing: 5px;
	text-align: center;
	vertical-align: top;
	padding-right: 20px;
}

.btn-red {
  background: #2792bc;
  background-image: -webkit-linear-gradient(top, #2792bc, #055d83);
  background-image: -moz-linear-gradient(top, #2792bc, #055d83);
  background-image: -ms-linear-gradient(top, #2792bc, #055d83);
  background-image: -o-linear-gradient(top, #2792bc, #055d83);
  background-image: linear-gradient(to bottom, #2792bc, #055d83);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #72b9d5, -1px -1px 3px #72b9d5;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-red:hover {
  background: #055d83;
  background-image: -webkit-linear-gradient(top, #055d83, #2792bc);
  background-image: -moz-linear-gradient(top, #055d83, #2792bc);
  background-image: -ms-linear-gradient(top, #055d83, #2792bc);
  background-image: -o-linear-gradient(top, #055d83, #2792bc);
  background-image: linear-gradient(to bottom, #055d83, #2792bc);
  text-decoration: none;
}

.btn-gray {
  background: #ababab;
  background-image: -webkit-linear-gradient(top, #ababab, #4e4e4e);
  background-image: -moz-linear-gradient(top, #ababab, #4e4e4e);
  background-image: -ms-linear-gradient(top, #ababab, #4e4e4e);
  background-image: -o-linear-gradient(top, #ababab, #4e4e4e);
  background-image: linear-gradient(to bottom, #ababab, #4e4e4e);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #ababab, -1px -1px 3px #ababab;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-gray:hover {
  background: #4e4e4e;
  background-image: -webkit-linear-gradient(top, #4e4e4e, #ababab);
  background-image: -moz-linear-gradient(top, #4e4e4e, #ababab);
  background-image: -ms-linear-gradient(top, #4e4e4e, #ababab);
  background-image: -o-linear-gradient(top, #4e4e4e, #ababab);
  background-image: linear-gradient(to bottom, #4e4e4e, #ababab);
  text-decoration: none;
}

.btn-wrong{
	padding: 8px 40px 8px 20px;
}

.wrong{
	color: #860202;
	position: absolute;
	margin: 8px 0 0 -35px;
	font-size: 18px !important;
}

.note{
	font-size: 9px;
	text-align: left;
	float: right;
	margin: -50px 145px 0 0;
	animation: scale 1s linear infinite;
}

.note i{
	position: absolute;
	margin: 20px 0 0 -15px;
	font-size: 18px;
}

.keypad-trigger{
	background: url('../img/pinbtn.png') center no-repeat;
	background-size: 22px 22px;
	position: absolute;
	margin: 4px 0px 0px -28px;
	width: 22px;
	height: 22px;
	border: none;
}

.keypad-key {
  background: #2792bc;
  background-image: -webkit-linear-gradient(top, #2792bc, #055d83);
  background-image: -moz-linear-gradient(top, #2792bc, #055d83);
  background-image: -ms-linear-gradient(top, #2792bc, #055d83);
  background-image: -o-linear-gradient(top, #2792bc, #055d83);
  background-image: linear-gradient(to bottom, #2792bc, #055d83);
  color: #fff !important;
  border: none;
  width: 2em;
  height: 2em;
}

.keypad-key:hover {
  background: #055d83;
  background-image: -webkit-linear-gradient(top, #055d83, #2792bc);
  background-image: -moz-linear-gradient(top, #055d83, #2792bc);
  background-image: -ms-linear-gradient(top, #055d83, #2792bc);
  background-image: -o-linear-gradient(top, #055d83, #2792bc);
  background-image: linear-gradient(to bottom, #055d83, #2792bc);
  text-decoration: none;
}

.keypad-close {
  background: #0a0;
  background-image: -webkit-linear-gradient(top, #0a0, #027702);
  background-image: -moz-linear-gradient(top, #0a0, #027702);
  background-image: -ms-linear-gradient(top, #0a0, #027702);
  background-image: -o-linear-gradient(top, #0a0, #027702);
  background-image: linear-gradient(to bottom, #0a0, #027702);
  color: #ffffff;
  border: none;
  width: 2em;
  height: 2em;
}

.keypad-close:hover {
  background: #027702;
  background-image: -webkit-linear-gradient(top, #027702, #0a0);
  background-image: -moz-linear-gradient(top, #027702, #0a0);
  background-image: -ms-linear-gradient(top, #027702, #0a0);
  background-image: -o-linear-gradient(top, #027702, #0a0);
  background-image: linear-gradient(to bottom, #027702, #0a0);
  text-decoration: none;
}

.keypad-clear {
  background: #a00;
  background-image: -webkit-linear-gradient(top, #a00, #820303);
  background-image: -moz-linear-gradient(top, #a00, #820303);
  background-image: -ms-linear-gradient(top, #a00, #820303);
  background-image: -o-linear-gradient(top, #a00, #820303);
  background-image: linear-gradient(to bottom, #a00, #820303);
  color: #ffffff;
  border: none;
  width: 2em;
  height: 2em;
}

.keypad-clear:hover {
  background: #820303;
  background-image: -webkit-linear-gradient(top, #820303, #a00);
  background-image: -moz-linear-gradient(top, #820303, #a00);
  background-image: -ms-linear-gradient(top, #820303, #a00);
  background-image: -o-linear-gradient(top, #820303, #a00);
  background-image: linear-gradient(to bottom, #820303, #a00);
  text-decoration: none;
}

.keypad-back {
  background: #00f;
  background-image: -webkit-linear-gradient(top, #00f, #00006b);
  background-image: -moz-linear-gradient(top, #00f, #00006b);
  background-image: -ms-linear-gradient(top, #00f, #00006b);
  background-image: -o-linear-gradient(top, #00f, #00006b);
  background-image: linear-gradient(to bottom, #00f, #00006b);
  color: #ffffff;
  border: none;
  width: 2em;
  height: 2em;
}

.keypad-back:hover {
  background: #00006b;
  background-image: -webkit-linear-gradient(top, #00006b, #00f);
  background-image: -moz-linear-gradient(top, #00006b, #00f);
  background-image: -ms-linear-gradient(top, #00006b, #00f);
  background-image: -o-linear-gradient(top, #00006b, #00f);
  background-image: linear-gradient(to bottom, #00006b, #00f);
  text-decoration: none;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
  }
}