.page-header {
	background: #222222 !important;

}
.main {
	background-color: #000000;
}
.button-blues {
	color: #00d1e8;
	background: #ca71e7; 
	background-image: -webkit-linear-gradient(top, #ca71e7 0%, #7f4291 100%);
	background-image:         linear-gradient(to bottom, #ca71e7 0%, #7f4291 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca71e7', endColorstr='#7f4291', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}