.page-header {
    background: #090600 !important;

}
.main {
    background-color: #000000;
}
.button-blues {
    background: #f4e300;
    background-image: -webkit-linear-gradient(top, #f4e300 0%, #b25400 100%);
    background-image:         linear-gradient(to bottom, #f4e300 0%, #b25400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4e300', endColorstr='#b25400', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #000000;
}