.page-header {
	background: #691523 !important;

}
.main {
	background-color: #000000;
}
.button-blues {
	color: #41000d;
	background: #fcd484; 
	background-image: -webkit-linear-gradient(top, #fcd484 0%, #7c6330 100%);
	background-image:         linear-gradient(to bottom, #fcd484 0%, #7c6330 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcd484', endColorstr='#7c6330', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}