@charset "utf-8";
/* CSS Document */

/***********************************/
/************* FONTS **************/
/**********************************/

@font-face {
    font-family: 'audiowide_regular';
    src: url('../font/audiowide-regular-webfont.eot');
    src: url('../font/audiowide-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/audiowide-regular-webfont.woff') format('woff'),
         url('../font/audiowide-regular-webfont.ttf') format('truetype'),
         url('../font/audiowide-regular-webfont.svg#audiowide_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir95_black';
    src: url('../font/avenir_95_black-webfont.eot');
    src: url('../font/avenir_95_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/avenir_95_black-webfont.woff') format('woff'),
         url('../font/avenir_95_black-webfont.ttf') format('truetype'),
         url('../font/avenir_95_black-webfont.svg#avenir95_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newton_bolditalic';
    src: url('../font/newtowbi-webfont.eot');
    src: url('../font/newtowbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/newtowbi-webfont.woff') format('woff'),
         url('../font/newtowbi-webfont.ttf') format('truetype'),
         url('../font/newtowbi-webfont.svg#newton_bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**********************************/
/************* GENERAL ************/
/**********************************/

body {
  background-color: #2b2b2b; /* for the tint */
  font-family: 'Open Sans',arial, verdana, sans-serif;
}

.overlay{
	pointer-events:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:9999;
}

.all-elements{
	overflow-x:hidden;	
}

.wrapper{
    padding:10px;
}

.page-content{
	background-color:#2b2b2b;
	z-index:10;
	display:block;
	min-height:580px;
}

.page-sidebar{
	/*background-image:url(../img/misc/menu-bg.png);
	background-repeat:repeat;
	background-size:75px 75px;*/
    background-color:#111111;
	width:272px;
	display:block;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
	bottom:0px;
	overflow:hidden;
	position:fixed;
}

.page-sidebar-right{
	/*background-image:url(../img/misc/menu-bg.png);
	background-repeat:repeat;
	background-size:75px 75px;*/
    background-color:#111111;
	width:272px;
	display:block;
	position:absolute;
	z-index:2;
	top:0px;
	right:0px;
	bottom:0px;
	overflow:hidden;
	position:fixed;
}

.page-sidebar-scroll, .page-sidebar-scroll-right{
	z-index:2;
	width:291px;
    overflow: scroll;
    overflow-x: hidden;
   /* -webkit-overflow-scrolling: touch;*/
	height:100%;
}

.main{
    background-color:#2b2b2b;
}

/*Content Controls*/

.homepage-slider{
	z-index:9;
	margin-top:-50px;
}

.content-controls{
	z-index:15;
	height:50px;
}

.sidebar-shortcuts{
	background-color:#1e1e1e;
	height:50px;	
	border-bottom:solid 1px #2a2a2a;
}

.sidebar-shortcuts a{
	opacity:0.8;
}

.sidebar-shortcuts a:hover{
	background-color:rgba(255,255,255,0.1);
}

.shortcut-call{
	background-image:url(../img/misc/shortcut_phone.png);
	background-position:16px 11px;
	background-repeat:no-repeat;
	background-size:25px 25px;
	width:58px;
	height:50px;
	position:absolute;
	border-right:solid 1px rgba(0,0,0,0.2);
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.shortcut-facebook{
	background-image:url(../img/misc/shortcut_facebook.png);
	background-position:16px 11px;
	background-repeat:no-repeat;
	background-size:27px 27px;
	left:52px;
	width:58px;
	height:50px;
	position:absolute;
	border-right:solid 1px rgba(0,0,0,0.2);
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.shortcut-twitter{
	background-image:url(../img/misc/shortcut_twitter.png);
	background-position:17px 11px;
	background-repeat:no-repeat;
	background-size:25px 25px;
	left:105px;
	width:58px;
	height:50px;
	position:absolute;
	border-right:solid 1px rgba(0,0,0,0.2);
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.shortcut-search{
	background-image:url(../img/misc/shortcut_magnifier.png);
	background-position:16px 12px;
	background-repeat:no-repeat;
	background-size:27px 27px;
	left:160px;
	width:58px;
	height:50px;
	position:absolute;
	border-right:solid 1px rgba(0,0,0,0.2);
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.shortcut-close{
	background-image:url(../img/ui-icons/shortcut_close.png);
	background-position:17px 12px;
	background-repeat:no-repeat;
	background-size:25px 25px;
	left:215px;
	width:58px;
	height:50px;
	position:absolute;
	border-right:solid 1px rgba(0,0,0,0.2);
	border-bottom:solid 1px rgba(0,0,0,0.2);
}

.sidebar-breadcrumb{
	border-top:solid 1px rgba(255,255,255,0.05);
	/*border-bottom:solid 1px rgba(255,255,255,0.05);*/
	background-color:#1e1e1e;
    color:#9a9a9a;
	font-size:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
}

.sidebar-decoration{
	height:2px;
	background-color:rgba(0,0,0,0.15);
	border-bottom:solid 1px rgba(255,255,255,0.07);
}

.nav-submenu a:first-child{
	margin-top:-1px;
}

.nav-submenu a:last-child{
	border-bottom:solid 0px #000000!important;
}

.nav-submenu a{
	border-top:solid 1px rgba(255,255,255,0.05);
	border-bottom:solid 1px rgba(0,0,0,0.1);
	line-height:55px;
	padding-left:60px;
	background-image:url(../img/misc/nav-submenu.png);
	background-repeat:no-repeat;
	background-size:8px 8px;
	background-position:30px 24px;
	color:rgba(255,255,255,0.4);
}

.nav-submenu{
	display:none;
}

.navigation-item > span{
	padding-left:20px;
}

.navigation-item .sidebar-decoration{
	display:none;
}

.active-submenu{
	display:block;
}

.nav-item{
	height:55px;
	border-bottom:solid 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0px rgba(255,255,255,0.05);
}

.nav-item:hover{
	background-color:rgba(99,99,99,0.3);
}

.nav-items{
	height:55px;
	border-bottom:solid 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0px rgba(255,255,255,0.05);
}

.nav-submenu a:hover{
	background-color:rgba(255,255,255,0.05);
}

.selected-item{
	position:absolute;
	width:10px;
	height:10px;
	border-radius:10px;
	background-color:#ffbf27;
	right:39px;
	margin-top:23px;
}

.unselected-item{
	position:absolute;
	width:8px;
	height:8px;
	border-radius:8px;
	background-color:rgba(255,255,255,0.08);
	right:40px;
	margin-top:23px;
}

.dropdown-item{
	background-image:url(../img/ui-icons/nav-dropdown.png)!important;
	background-size:14px 13px;
	position:absolute;
	width:14px;
	height:14px;
	right:45px;
	margin-top:23px;
}

.submenu-deploy em{
	background-image:url(../img/ui-icons/nav-dropup.png);
	background-size:14px 13px;
	position:absolute;
	width:14px;
	height:14px;
	right:45px;
	margin-top:23px;
}

.link-item{
	background-image:url(../img/ui-icons/nav-link.png);
	background-size:14px 13px;
	position:absolute;
	width:14px;
	height:14px;
	right:45px;
	margin-top:23px;
}

.nav-item{
	background-position:20px 8px;
	background-size:34px 35px;
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:14px;
    font-family: 'avenir95_black';
	padding-left:70px;
	line-height:60px;
}

.nav-items{
	background-position:20px 8px;
	background-size:34px 35px;
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:14px;
    font-family: 'avenir95_black';
	padding-left:70px;
	line-height:60px;
}

.dropdown-item{
	background-image:url(../img/ui-icons/nav-dropdown.png);
}

.home-icon{
	background-image:url(../img/ui-icons/home.png);
}

.register-icon{
	background-image:url(../img/ui-icons/register.png);
}

.games-icon{
	background-image:url(../img/ui-icons/games.png);
}

.livechat-icon{
	background-image:url(../img/ui-icons/livechat.png);
}

.deposit-icon{
	background-image:url(../img/ui-icons/deposit.png);
}

.withdraw-icon{
	background-image:url(../img/ui-icons/withdraw.png);
}

.download-icon{
	background-image:url(../img/ui-icons/download.png);
}

.point-icon{
	background-image:url(../img/ui-icons/point.png);
}
.ref-icon {
    background-image: url(../img/ui-icons/nav-link.png);
}

.user-icon{
	background-image:url(../img/ui-icons/user.png);
}

.chips-icon{
	background-image:url(../img/ui-icons/chips.png);
}

.logout-icon{
	background-image:url(../img/ui-icons/logout.png);
}

.info-update{
	background-image:url(../img/misc/notification-blue.png);
	background-size:42px 42px;
	background-position:20px 0px;
	background-repeat:no-repeat;
	height:50px;
	padding-left:80px;
}

.notification-update{
	background-image:url(../img/misc/notification-yellow.png);
	background-size:42px 42px;
	background-position:20px 0px;
	background-repeat:no-repeat;
	height:50px;
	padding-left:80px;
}

.warning-update{
	background-image:url(../img/misc/notification-red.png);
	background-size:42px 42px;
	background-position:20px 0px;
	background-repeat:no-repeat;
	height:50px;
	padding-left:80px;
}

.tick-update{
	background-image:url(../img/misc/notification-green.png);
	background-size:42px 42px;
	background-position:20px 0px;
	background-repeat:no-repeat;
	height:50px;
	padding-left:80px;
}

.page-update{
	margin-top:15px;
	margin-bottom:10px;
}

.page-update strong{
	color:rgba(255,255,255,0.6);
	display:block;
}

.page-update em{
	color:rgba(255,255,255,0.4);
	display:block;
	font-size:10px;
	font-style:normal;
}

.update-icon{
	background-image:url(../img/misc/nav-dropdown.png);
	background-size:14px 14px;
	background-repeat:no-repeat;
	position:absolute;
	right:45px;
	margin-top:12px;
	width:14px;
	height:14px;
}

.active-update-icon{
	background-image:url(../img/misc/nav-dropup.png)!important;
}

.page-update-text{
	color:rgba(255,255,255,0.5);
	font-size:12px;
	width:220px;
	margin-left:auto;
	margin-right:auto;	
}

.page-update-text{
	display:none;
}

.page-header{
	background: #131313;
	height:70px;
    width:100%;
	position:fixed;
	z-index:999999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.page-header-clear{
	height:70px;
}

.header-logo{
    width: 336px;
    display: block;
	
    height: 60px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-61px;
}

.deploy-sidebar{
	background-image:url(../img/ui-icons/deploy-nav.png);
	background-repeat:no-repeat;
	background-position:20px 24px;
    background-size:28px 19px;
	height:70px;
	width:70px;
	z-index:50;
}

.deploy-sidebar:hover{
	background-color:rgba(255,255,255,0.1);
}

.deploy-login{
	background-image:url(../img/ui-icons/deploy-login.png);
	background-size:36px 24px;
	background-repeat:no-repeat;
	background-position:19px 22px;
	height:70px;
	width:70px;
	float:right;
	margin-top:-59px;
}

.deploy-login:hover{
	background-color:rgba(255,255,255,0.1);
}

.deploy-logout{
	background-image:url(../img/ui-icons/deploy-logout.png);
	background-size:36px 24px;
	background-repeat:no-repeat;
	background-position:21px 22px;
	height:70px;
	width:70px;
	float:right;
	margin-top:-59px;
}

.deploy-logout:hover{
	background-color:rgba(255,255,255,0.1);
}

.deploy-user{
	background-image:url(../img/ui-icons/deploy-user.png);
	background-size:36px 24px;
	background-repeat:no-repeat;
	background-position:19px 22px;
	height:70px;
	width:70px;
	float:right;
	margin-top:-59px;
}

.deploy-user:hover{
	background-color:rgba(255,255,255,0.1);
}

.login_box{
    display:none;
}

#login_panel{
    padding:10px;
    background:#383838;
    color:#ffffff;
}

/*About Faces / Quotes */

.quote-item em{
	text-align:center;
	display:block;
	color:#e34e47;
	margin-bottom:10px;
}

.quote-item h4{
	text-align:center;
	margin-bottom:0px;
}

.quote-item strong{
	text-align:center;
	font-style:normal;
	font-weight:400;
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.quote-item img{
	border-radius:100px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

/*Thumbnails Columns*/

.thumb-clear-10{
	height:0px;
	display:block;
	width:100%;
}

.thumb-clear{
	height:20px;
	display:block;
	width:100%;
}

.thumb-left{
	display:block;
	padding-bottom:10px;
}

.thumb-left a{
	display:block;
	text-align:right;
}

.thumb-left img{
	width:100px;
	height:100px;
	/*border-radius:100px;*/
	float:left;
	margin-right:20px;
}

.thumb-left strong{
	color:#338aa6;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
    font-family: 'bebas_neueregular';
    letter-spacing:0.5px;
}

.thumb-left span{
	color:#fff;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:48px;
    font-family: 'bebas_neueregular';
    letter-spacing:1px;
}

.thumb-left em{
	font-style:normal;
    font-size:16px;
    color:#808080;
    font-family: 'Lato';
}

.thumb-right{
	display:block;
	padding-bottom:10px;
}

.thumb-right img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:right;
	margin-left:20px;
}

.thumb-right strong{
	color:#fff;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-right em{
	font-style:normal;
}

.customer-slider div a img{
	width:40px;
	margin-left:auto;
	margin-right:auto;
}

/*Social Boxes*/

.facebook-box{
	background-image:url(../img/misc/social/facebook.png);
	background-size:26px 23px;
	background-repeat:no-repeat;
	background-position:10px 10px;
	background-color:#3b5998;
	height:40px;
	line-height:40px;
	color:#FFFFFF;
	padding-left:60px;
	margin-bottom:20px;
}

.social-box em{
	position:absolute;
	height:40px;
	width:1px;
	background-color:#FFFFFF;
	margin-left:-15px;
}

.social-box:hover{
	opacity:0.9;
}

.twitter-box{
	background-image:url(../img/misc/social/twitter.png);
	background-size:20px 17px;
	background-repeat:no-repeat;
	background-position:12px 13px;
	background-color:#4099ff;
	height:40px;
	line-height:40px;
	color:#FFFFFF;
	padding-left:60px;
	margin-bottom:20px;
}

.google-box{
	background-image:url(../img/misc/social/google.png);
	background-size:20px 17px;
	background-repeat:no-repeat;
	background-position:12px 13px;
	background-color:#d34836;
	height:40px;
	line-height:40px;
	color:#FFFFFF;
	padding-left:60px;
	margin-bottom:20px;
}


/*Jackpot*/

.jackpot{
    background: #131313;
    padding:10px;
    text-align:center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.jackpot-text{
    font-family: 'newton_bolditalic';
    font-size:20px;
    color:#ffbf27;
    height:30px;
    padding:5px 0 10px 0;
}

.jackpot-global{
    font-family: 'audiowide_regular';
    font-size:34px;
    color:#ffffff;
    height:45px;
    padding-top:10px;
}

/*Footer Socials*/

.footer{
    background: #383838;
    font-size:12px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px 2px;
}

.button-group{
    position:relative;
    margin-top:10px;
}

.button-group .menu{
    padding-top:10px;
}

#bank{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bank > span{
    font-size:10px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

#bank .bank-image{
    width:230px;
    height:36px;
    background:url(../img/ui-icons/icons.png) 0px 0px no-repeat;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}

#fair-play{
    width:230px;
    height:36px;
    background:url(../img/ui-icons/icons.png) 0px -36px no-repeat;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    clear:both;
}

.forgot_pass {
    float: left;
}

.new_register {
    float: right;
}

/*Wide Portfolio*/

.wide-active{
	margin-top:20px;
	display:none;
}

.wide-item-wrapper{
	background-color:#FFFFFF;
	padding-bottom:1px;
	margin-top:3px;
}

.wide-folio{
	margin-top:-17px;
	margin-bottom:20px;
}

.wide-item{
	margin-bottom:3px;
}

.wide-item .responsive-image{
	margin-bottom:0px;
}

.wide-image{
	max-height:100px;
	overflow:hidden;
}

.wide-item-titles{
	position:relative;
	z-index:99999;
	top:30px;
	margin-bottom:-45px;
	pointer-events:none;
}

.wide-item-titles h4{
	font-family:'Open Sans', sans-serif;
	font-weight:200;
	font-size:16px;
	text-transform:uppercase;
	color:#FFFFFF;
	position:relative;
	z-index:999999;
	text-align:center;
	margin-bottom:5px;
}

.wide-item-titles p{
	color:#FFFFFF;
	margin-bottom:0px;
	color:rgba(255,255,255,0.5);
	text-align:center;
	position:relative;
	z-index:999999;
}

.wide-item-content{
	display:none;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}

@media (min-width:760px) { 
	.wide-image{
		max-height:150px;
	}
	
	.wide-item-titles{
		top:55px;
		margin-bottom:-45px;
	}
}

.contact-call{
	padding-top:5px;
	color:#666;
	padding-left:30px;
	background-image:url(../img/misc/contact_phone.png);
	background-position:0px 5px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	height:30px;
	display:block;
}

.contact-text{
	color:#666;
	margin-bottom:5px;
	padding-left:30px;
	background-image:url(../img/misc/contact_message.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	height:20px;
	display:block;
	margin-bottom:2px;
}

.contact-mail{
	color:#666;
	margin-bottom:5px;
	padding-left:30px;
	background-image:url(../img/misc/contact_mail.png);
	background-position:3px 3px;
	background-repeat:no-repeat;
	background-size:14px 14px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

.contact-facebook{
	color:#666;
	margin-bottom:5px;
	padding-left:30px;
	background-image:url(../img/misc/contact_facebook.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

.contact-twitter{
	color:#666;
	margin-bottom:5px;
	padding-left:30px;
	background-image:url(../img/misc/contact_twitter.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

.web-title{
    padding-top:5px;
    font-size:60px;
    color:#741868;
}

.page{
    font-size:20px;
	margin-bottom:10px;
	font-weight:800;
	color:#338aa6;
    letter-spacing:0.5px;
}

.page-title{
    font-size:50px;
    color:#fff;
    letter-spacing:1px;
}

#news{
    width: 100%;
    height: 40px;
    background-color:#101619;
    margin-top:49px;
    position:fixed;
	z-index:999998;
}

#news span{
    float: left;
    margin-top: 10px;
    padding-left: 14px;
    font-size: 20px;
    color:#ebebeb;
    letter-spacing: 1px;
}

.scrollnews{
    position: absolute;
    width: 100%;
    height: 35px;
    margin-left: 65px;
    overflow: hidden;
    font-size: 14px;
    font-family: inherit;
}

#liscroll > li{
    padding-top: 7px;
    list-style:none;
}

#liscroll > li > a{
    text-decoration: none;
    padding-top: 5px;
    color: #a3a3a3;
}

#liscroll > li > a > strong{
    color: #741868;
    font-weight: bold;
    margin-top: 0px;
}

/**********************************/
/************** FORM **************/
/**********************************/

select:focus,optgroup:focus,option:focus,input:focus,input[type=text]:focus,input[type=password]:focus,input[type=file]:focus,input[type=radio]:focus,.textbox:focus,textarea:focus{
    border: 1px solid #059bd3;
}

/* Radio */
input[type="radio"] {
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-top: 8px;
    position: relative;
    width: 30px;
    -webkit-appearance: none;
	z-index: 79;
}
input[type="radio"]:checked:after {
    background-color: #444;
    border-radius: 25px;
    content: '';
    display: inline-block;
    height: 20px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 20px;
}


.radios{
    float:left;
    width:30px;
    margin-left:-5px;
}

@media (max-width:640px){

    .radios{
        position:absolute;
        padding-top:15px;
    }
}

optgroup {
    padding:5px 0;
}
option {
    padding:5px 0;
}

.form-group{
    clear:both;
    margin-bottom:10px;
}

.formLabel{
    float:left;
    width:30%;
    padding:0px 10px;
}

.formInput{
    float:right;
    width:70%;
}

.formText{
    display:inline-block;
    padding-top:10px;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}

.note{
    font-size:11px;
    color:#ffbf27;
}

.orange{
    color:#ffbf27;
}

.bankField{
    float:left;
    width:27%;
    margin-right:5px;
}

.bankField2{
    float:left;
    width:40%;
    margin-right:0px;
}

.dateField{
    float:left;
    width:30%;
    margin-right:5px;
}

.dateField2{
    float:left;
    width:30%;
    margin-right:0px;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

/**********************************/
/************* BUTTONS ************/
/**********************************/

.button-login{
	float:right;
    margin-top:15px;
}

.button-icons{
    width:100%;
    margin-bottom:10px;
}


.button-bigs{
	text-align:center;
	color:#FFFFFF;
    font-family: 'avenir95_black';
    font-size:20px;
	padding:15px 26px 10px 26px;
	display:inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.button-extra-big{
    color:#FFFFFF;
    font-family: 'avenir95_black';
    font-size:18px;
	padding:15px 20px;
	display:inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    box-shadow: inset 0 -4px 0 rgba(25,25,25,1);
}

.button-grey{
    background-color:#696969;
}

.button-grey:active{
    background-color:#036e96;
}

.button-blues{
    background-color:#636363;
}

.button-blues:active{
    background-color:#373737;
}

.button-reds{
    background-color:#8e0101;
}

.button-reds:active{
    background-color:#db0606;
}

.icon-reg{
    float:left;
    background: url(../img/ui-icons/register.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:4px 0px;
    background-size:31px 37px;
}

.icon-download{
    float:left;
    background: url(../img/ui-icons/download.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:4px 0px;
    background-size:37px 37px;
}

.icon-deposit{
    float:left;
    background: url(../img/ui-icons/deposit.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:0px 0px;
    background-size:43px 37px;
}

.icon-withdraw{
    float:left;
    background: url(../img/ui-icons/withdraw.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:0px 0px;
    background-size:43px 37px;
}

.icon-ref {
    float: left;
    background: url(../img/ui-icons/nav-link.png) no-repeat;
    width: 43px;
    height: 37px;
    margin-right: 10px;
    background-position: 2px -5px;
    background-size: 40px 45px;
}

.icon-games{
    float:left;
    background: url(../img/ui-icons/games.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:4px 0px;
    background-size:33px 37px;
}

.icon-chat{
    float:left;
    background: url(../img/ui-icons/livechat.png) no-repeat;
    width:43px;
    height:37px;
    margin-right:10px;
    background-position:2px -5px;
    background-size:40px 45px;
}

.bank-account{
    padding-left:10px;
    font-size:14px;
    font-family:'Lato', arial, verdana, sans-serif;
    font-weight:bold;
}

@media (max-width:640px){

    .bank-account{
        clear:both;
        padding-left:40px;
        padding-top:5px;
        font-size:14px;
        font-family:'Lato', arial, verdana, sans-serif;
        font-weight:bold;
    }
}

.bank-account .acc-name{
    padding-left:10px;
}

.bank-account .notice{
    font-size:12px;
    color:#00ff4f;
}

.bank-images{
    float:left;
    width:120px;
    padding-left:20px;
}

@media (max-width:640px){

    .bank-images{
        margin-left:20px;
    }
}

.bca{
    float:left;
    width:63px;
    height:26px;
    background:url(../img/ui-icons/bank.png) 0px 0px no-repeat;
    margin-top:5px;
}

.mandiri{
    float:left;
    width:69px;
    height:26px;
    background:url(../img/ui-icons/bank.png) -70px 0px no-repeat;
    margin-top:5px;
}

.bni{
    float:left;
    width:64px;
    height:26px;
    background:url(../img/ui-icons/bank.png) -240px 0px no-repeat;
    margin-top:5px;
}

.bri{
    float:left;
    width:95px;
    height:26px;
    background:url(../img/ui-icons/bank.png) -140px 0px no-repeat;
    margin-top:5px;
}




