 body {
	margin: 0;
	padding: 0;
	background-image:url(images/background.png);
	background-repeat:repeat;
	margin-left: 100px;
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 0px;
 }
 
 a:link {
 	text-decoration:none;
	color:inherit;
 
 }
 
 a:visited{
 	color:inherit;
 }
 
 .txt0{
 	font-family:Calibri;
	font-size:22px;
	font-weight:bold;
	color:#FFFFFF;
}
 
 .txt1{
 	font-family:Calibri;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
}

 .txt2{
 	font-family:Calibri;
	font-size:18px;
	color:#FFFFFF;
}

.txt3{
 	font-family:Calibri;
	font-size:25px;
	color:#FFFF00;
	font-weight:bold;
	text-decoration:underline;
}

.txt4{
 	font-family:Calibri;
	font-size:18px;
	color:#FFFF00;
	text-decoration:underline;
}

 .txt5{
 	font-family:Calibri;
	font-size:18px;
	color:#FFFFFF;
	text-decoration:underline;
}

 .txt6{
 	font-family:Calibri;
	font-size:20px;
	color:#FF0000;
	font-weight:bold;
	text-decoration:underline;
}