.page-header {
    background: #112744 !important;

}
.main {
    background-color: #000000;
}
.button-blues {
    background: #05b6fe;
    background-image: -webkit-linear-gradient(top, #05b6fe 0%, #004581 100%);
    background-image:         linear-gradient(to bottom, #05b6fe 0%, #004581 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05b6fe', endColorstr='#004581', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #ffffff;
}