.page-header {
    background: #020202 !important;

}
.main {
    background-color: #000000;
}
.button-blues {
    background: #00232c;
    background-image: -webkit-linear-gradient(top, #00232c 0%, #001b21 100%);
    background-image:         linear-gradient(to bottom, #00232c 0%, #001b21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00232c', endColorstr='#001b21', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #1fbad9;
}